[2020-12-21 23:50] yarikoptic commented on #465
I will see if that is easy to do for invocation of dcm2niix through nipype -- there might have been a (good?) reason why we did it that obscure way.  I just wonder if it wouldn't be sensible for dcm2niix to increase whatever hardcoded size to something bigger. e.g. to the magical 260 of windows? ;)

I bet I would have hit it if that was the case on GNU/Linux systems, since my path is quite often w

[2020-12-22 21:53] yarikoptic commented on #465
working around on heudiconv side, but would still recommend to increase the limit here.  I think it wouldn't be exactly impossible for some to produce a quite long prefix e.g. following bids and having a UUID for subject and session IDs to start with ;)

[2020-12-22 22:04] neurolabusc commented on #465
1. Unable to replicate
[code]
2. What compiler are you using, specifically, what is the output of `g++ -v`.
[code]

3. Can you make sure to use the latest development branch with the sanitizer. This will give the specific lines where errors are happening. It would be helpful to see the entire output which includes the dcm2niix version and compilation details.
[code]
4. Be aware that since you supp

[2020-12-22 22:11] neurolabusc commented on #465
Feel free to increase [PATH_MAX](https://github.com/rordenlab/dcm2niix/blob/081c6300d0cf47088f0873cd586c9745498f637a/console/nii_dicom_batch.cpp#L90) but the current limit is 4096 characters. Several other routines limit length to 768 characters. I do not think this is your issue.

My best guess is the issue is with the [redundant underscores](https://github.com/rordenlab/dcm2niix/pull/448) in you

[2020-12-22 23:44] yarikoptic commented on #465
oh, sorry, I misunderstood the [4.](https://github.com/rordenlab/dcm2niix/issues/465#issuecomment-749215536) as just related to compile flags.  I will give a shot to development snapshot, thank you!

[2020-12-23 14:29] neurolabusc commented on #464
Closing this question. It is a bit like asking when the [War of 1812](https://en.wikipedia.org/wiki/War_of_1812#Treaty_of_Ghent) ended (when the treaty was signed in 1814, or the battles ended in 1815), or whether you can put your foot in the same river twice. dcm2niix was the reference software used for the original BIDS release, but the BIDS standard has evolved, manufacturer data has evolved, a

[2020-12-23 14:29] #464 closed

[2020-12-23 14:41] neurolabusc opened #466 "Overflow for Siemens data missing a protocol name"
This [bug](https://www.nitrc.org/forum/reply.php?msg_id=31471&group_id=880) is elicited by the following conditions:
 1. DICOM [ProtocolName (0018,1030)](https://dicom.innolitics.com/ciods/respiratory-waveform/general-series/00181030) omitted or empty.
 2. Siemens Data where the [CSA header](https://nipy.org/nibabel/dicom/siemens_csa.html) specifies a protocol name that is in excess of 64 characte

[2020-12-23 15:44] baxpr commented on #454
@neurolabusc I am no longer able to replicate the problem with commit 25e314a. Looks like we had a system update:

Linux theta.vuiis.org 3.10.0-1160.11.1.el7.x86_64 #1 SMP Fri Dec 18 16:34:56 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

The new version (development branch) works fine too, for what that's worth.

[2020-12-23 18:15] yarikoptic opened #467 "please merge master back into development upon release(s)"
which should be a fast-forward since I believe master keeps merging specific development upon release.

Just my 1c, ATM

[code]
so hard to tell exactly "where we are in development" in the history (makes trickier to mint comparable to releases "snapshot" version to produce some "development" package), also development might miss some "released" change.

[2020-12-24 13:52] #467 closed

[2020-12-24 13:55] #466 closed

[2020-12-24 14:09] neurolabusc commented on #467
@ningfei notes:  Actually, merging master branch back to development branch or not will NOT affect the tag for development branch: if you never commit and push directly to master branch but always merge new things from development branch to master branch. The development branch will automatically get the correct tag after you set the tag in the master branch, since the tag is bound to a specific c

[2020-12-25 02:07] yarikoptic commented on #467
git tag -D offending # if desired to remove locally
git push remote :offending  # to remove on remote

[2020-12-25 02:08] yarikoptic commented on #467
Re downstream testing: would be great. We started to do similar testing for datalad extensions and git annex itself.

[2020-12-25 12:19] Bigsealion opened #468 "dcm2niix cerate many nii by 1 DCM sequence"
I using dcm2niix which in MRIcroGL, and try to convert .dcm to .nii
However,  I get 10 .nii files, and each of them have part of the complete image. I can open this .dcm by 3dslicer or RadiAnt, but I want to convert .dcm to .nii by batch, so I need dcm2niix.
I want to know how can I get a correct .nii file by dcm2niix? Thanks!
Following is printed information by dcm2niix.
`Compression will be fast

[2020-12-25 12:54] neurolabusc commented on #468
Please upgrade to the current release of MRIcroGL (v1.2.20201102) which will include the current stable release of [dcm2niix (v1.0.20201102)](https://github.com/rordenlab/dcm2niix/releases/tag/v1.0.20201102). This will merge your CT scans despite the variations in Xray exposure.

With MRIcroGL's graphical user interface, you can select how a series is merged despite variations. With MRIcroGL choos

[2020-12-27 01:18] Bigsealion commented on #468
The new version dcm2niix in MRIcroGL can solve this problem!
Thank you very much!

[2020-12-27 08:11] Bigsealion commented on #468
In new version of dcm2niix, I got a new problem.
In most cases, it can create only 1 .nii.gz, but in some case, it will generate a corrected image, which will be set a suffix like ‘Tilt’ and ‘Eq’. After check, I think that 'Tile' is correction of degrees and 'Eq' iscorrection of interslice distance varies. Is my guess correct?
I found corrected images by 'Eq' with interpolated artifacts that I did

[2020-12-27 12:08] neurolabusc commented on #468
Please see the [manual](https://www.nitrc.org/plugins/mwiki/index.php/dcm2nii:MainPage#Computed_Tomography_.28CT.2C_CAT.29) for a description. The NIfTI format demands that all 2D slices in a 3D stack are equally spaced. The quaternion-based Q-form demands that the 3D volume is rectangular, not rhomboidal.

If your acquisition does not meet these criteria, it can not be losslessly converted to NIf

[2020-12-27 12:08] #468 closed

[2020-12-27 12:10] neurolabusc commented on #465
[Redundant underscores](https://github.com/rordenlab/dcm2niix/pull/448) handled in current developmental branch.

[2020-12-27 12:10] #465 closed

[2020-12-31 03:02] kytk opened #469 "dcm2niix -v returns exit code 3 on Linux"
I use dcm2niiX version v1.0.20201102  (JP2:OpenJPEG) (JP-LS:CharLS) GCC5.5.0 x86-64 (64-bit Linux).

I have just noticed that `dcm2niix -v` returns exit code 3 on Linux.

[code]

Are there any reason it returns 3 instead of 0?
(dcm2niix -h returns 0.)

I found it when I used bash kernel on Jupyter-notebook.
"Run All" on Jupyter-notebook stopped at `dcm2niix -v`
I think Jupyter-notebook considered

[2020-12-31 12:04] neurolabusc commented on #469
This is the intended behavior. This helps debug scripts where the user was expecting output files, but dcm2niix thought that only a version string was required. It also allows scripts to know that the request for a version string was detected: if an executable does not return exit code 3 for `executablename -v` it is not a valid version of dcm2niix.

For completeness, the exit codes are:

0. EXIT_

[2020-12-31 12:18] kytk commented on #469
Thank you for clear explanation!

[2020-12-31 12:18] #469 closed

[2021-01-02 22:45] chenrui333 opened #470 "dcm2niix 1.0.20201224 release tag is gone"
👋  it looks like the release tag is gone? Just raise this issue to confirm it is intended, thanks!

relates to https://github.com/Homebrew/homebrew-core/pull/67572

[2021-01-03 12:30] neurolabusc commented on #470
This was an unintended consequence of my attempts to deal with [issue 467](https://github.com/rordenlab/dcm2niix/issues/467). The current stable release is [v1.0.20201102](https://github.com/rordenlab/dcm2niix/releases/tag/v1.0.20201102). Version v1.0.20201224 exists only on the unstable branch. Stable releases are reviewed by others, beyond the automatic testing done with each commit. Typically t

[2021-01-03 16:55] chenrui333 commented on #470
I got you, thanks for clarifying it.

[2021-01-03 16:55] #470 closed

[2021-01-05 16:49] dagra opened #471 "Incorrect SeriesInstanceUID at least in Siemens-MAGNETOM Vida"
In the latest release and in the latest developmental branch the `SeriesInstanceUID` is incorrect in the `json` file (running with `-ba n`), and more specifically replaced by the `(0008,0031) SeriesTime`, if the manufacturer and model is **Siemens - MAGNETOM Vida**. I checked with some other models from Siemens (e.g. Skyra, Avanto) and from Philips, GE and they seem ok, but my available list is li

[2021-01-05 21:11] dagra commented on #471
Ok, so the main issue of these datasets is that they are exported in the classic and not in the enhanced format. Unfortunately, I don't have immediate control of the export settings, but I will notify accordingly.

Regarding the kludge to handle *issue 394*, as far as I can tell the main purpose was to merge DICOM files with varying `SeriesInstanceUID`s by using the `SeriesTime` and consequently e

[2021-01-07 12:24] neurolabusc commented on #471
To be clear, when a Siemens XA system is coerced to export `classic` data, it generates images that violate the DICOM standard. Specifically, the [SeriesInstanceUID (0020,000E)](http://dicomlookup.com/lookup.asp?sw=Tnumber&q=(0020,000E)) is a Type 1 tag, and the variation created by Siemens contravenes this.

My software is designed to handle valid DICOM images - the format is complicated enough w

[2021-01-07 12:24] #471 closed

[2021-01-07 21:20] dimrozakis commented on #471
Hi @neurolabusc

While this might be true for the datasets mentioned in #236 & #394,
it doesn't seem to be the case for the dataset @dagra is talking about.
All the DICOM files of that dataset contain a `SeriesInstanceUID` with the same valid value
(according to @dagra),
which is correct since they're all part of the same series.

Does it make sense to you that running `dcm2niix` on a set of files

[2021-01-08 13:37] neurolabusc commented on #471
The issue is that we are working with a very limited sample of datasets from these systems. I did supply Siemens with a laundry list of concerns regarding the XA data format before the hardware was deployed beyond their release customer. One of my suggestions was a way to track software patches the way we can for the V series, e.g.
[code]
While it is possible there are variations between software

[2021-01-08 21:22] dimrozakis commented on #471
@neurolabusc

Fair enough. Thanks for taking the time to respond and explain the issue, as well as for your overall stellar work on developing dcm2niix.

[2021-01-09 00:27] rvangala936 opened #472 "dcm2niix output JSON format issue"
Hi,
  dcm2niix generates a Json file that has data format issues. Please find below DICOM tag causes the issues along with a generated JSON file output.

Can you please look into this issue?

Ex: If the **DICOM** has a Tag like shown below(note the Value has data on separate lines):

================================================================
 **Tag=(0008, 0081), Desc=InstitutionAddress, VR=S

[2021-01-09 01:17] neurolabusc commented on #472
You are using a release that is more than 3 years old. Does the [current stable version](https://github.com/rordenlab/dcm2niix/releases) resolve your issue?

[2021-01-09 05:19] rvangala936 commented on #472
Latest version worked. Thank you very much for quick and prompt response.

Best Regards
Ravindar Vangala

[2021-01-09 05:19] #472 closed

[2021-01-11 21:48] andersonwinkler opened #473 "Series Description and Protocol Name in the .json file"
Hi Chris,

Thanks for the hard work on this incredibly helpful tool. We have many files collected from GE scanners that have these fields:

[code]

In the BIDS/JSON file, however, we get:

[code]

We'd like to have the ability to sort by protocol, but they end up populated with a repetition from the series description. Is there a way to change this behaviour?

Many thanks!

All the best,

Anderson

[2021-01-11 22:21] neurolabusc commented on #473
What version of dcm2niix are you using? This sounds like [issue 425](https://github.com/rordenlab/dcm2niix/issues/425), so I would have thought it is resolved in the [current stable release](https://github.com/rordenlab/dcm2niix/releases). If that fails, check the behavior of the current commit to the development branch.

[2021-01-12 18:16] andersonwinkler commented on #473
Thanks! The issue is really that the ProtocolName in the JSON is inheriting the Series Description from the DICOM file, as opposed to the actual Protocol Name. The spaces/underscores/etc are ok.

The version used is 20200331 and we can certainly update if the most recent has this changed. Thanks!

Anderson

[2021-01-12 21:25] neurolabusc commented on #473
Anderson,

Please see the [filenaming](https://github.com/rordenlab/dcm2niix/blob/master/FILENAMING.md) notes. Unlike other vendors (and GE CT), the GE MRI product sequences use a generic name for 0018,1030, so we use 0018,0024 instead. Since 0018,0024 can be modified by the user on the console, it is equivalent to 0018,1030 on other systems. I think a lot of DICOM to BIDS heuristics would not hav

[2021-01-13 13:23] neurolabusc commented on #473
Anderson,

Can you try out the latest development branch commit. The old behavior was to copy text from Series Description (0018,0024) to ProtocolName (0018,1030) for GE MRI. The new behavior is to swap these two strings. These removes the redundancy in the JSON and retains the value originally stored in 0018,1030. Be aware that 0018,1030 is generic for all sequences on GE MRI, but this does allow

[2021-01-13 16:56] andersonwinkler commented on #473
Thanks Chris! It almost perfect: the Protocol Name and Series Description are however swapped in the JSON:

[code]

[2021-01-13 17:36] neurolabusc commented on #473
This is intentional, it is a feature not a defect. Failing to do this would have catastrophic consequences for BIDS conversion tools. The GE MRI SeriesDescription (0008,103E) is equivalent to the ProtocolName (0018,1030) for Siemens, Philips, UIH and GE CT. Many tools rely on the Protocol Name to identify datasets, however 0018,1030 is inflexible in GE Product sequences. Moving forward, you can fo

[2021-01-13 19:16] andersonwinkler commented on #473
Got it, thanks!

I think we'll live with it then, or swap in the JSON files we use in projects so that it remains compatible with what the users see when they browse the imaging database.

Thanks!

[2021-01-13 19:16] #473 closed

[2021-01-22 10:17] lidialuq opened #474 "Installation with executable failing"
I am not able to install dcm2niix by using the .zip executable. Using the command `pip install dcm2niix_win.zip ` on windows I get the following output:

[code]

I am using the last stable release (v1.0.20201102)

[2021-01-22 16:43] neurolabusc commented on #474
dcm2niix is a stand alone executable distributed as a zip archive, it is not a Python script installed with pip. You can `download`, `extract` and `run` dcm2niix with the following commands:

[code]

[2021-01-22 16:43] #474 closed

[2021-01-22 17:00] hanayik commented on #474
@lidialuq and @neurolabusc, you can also install dcm2niix with conda (a package manager written in python) if that fits better with your python/pip way of working and keeping track of packages.

`conda install -c conda-forge dcm2niix`

[2021-01-22 18:31] vpapaioannou opened #475 "dcm2niix creates 2 "channel" nifti"
**Describe the bug**
I have 2X dcm files of size axb and at the output I get one nifti file where the image is stored as [a, b, X, 2] whereas I would expect [a, b, 2X] as usual.

**To Reproduce**
Run as `./bin/dcm2niix_Linux --terse -w 1 -z y -m y -b n -o ...` and the files in total are 874 if the amount plays a role.

**Expected behavior**
One nifti file where the image is stored as [a, b, 2X].

[2021-01-23 13:27] neurolabusc commented on #475
Please upgrade to the [latest stable release](https://github.com/rordenlab/dcm2niix/releases), as this changes the formula for dealing with DICOM images corrupted by a GEIIS PACS system. I would trace the provenance of your DICOMs and archive images that have not been corrupted. Corrupted images are not of archival quality and will result in unpredictable behavior with many tools. Please follow th

[2021-01-24 13:31] dmd opened #476 "json sidecar invalid UTF-8: "ReconstructionMethod": "ÿÿÿ","
**Describe the bug**
In v1.0.20201224, but not in v1.0.20201102, the JSON sidecar contains a field containing invalid UTF-8:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the command `dcm2niix -o out anon.dcm` using the attached file
[anon.dcm.zip](https://github.com/rordenlab/dcm2niix/files/5862311/anon.dcm.zip)

**Expected behavior**
A valid, BIDS-compatible JSON sidecar enco

[2021-01-24 19:51] neurolabusc commented on #476
@yarikoptic I really do not think conda should install from the development branch. Commits to this branch are only subjected to a minimal automatic QA and are not vetted by other users. I introduce experimental features to this branch.

@dmd this specific issue should be fixed in the development branch.

[2021-01-24 21:58] yarikoptic commented on #476
FWIW, indeed better then not to use development branch in conda releases. But how even that version came about? I don't see it now among tags here - the location where
conda forge recipe seems to look for releases. Attnn @kastman @ningfei and @neurolabusc (;-)) who maintain dcm2niix in conda forge (I do not, yet at least)

[2021-01-25 00:07] kastman commented on #476
@neurolabusc Is it possible this was a tag that was uploaded and subsequently deleted? Looks like the url for tag and release archives is the same format, so I suspect it's hard for the conda-forge build bot to know the difference.

I feel like I added that one (or maybe the auto-merge did?) so for the time being I guess we can manually check the repo to see if a new build is an official release.

[2021-01-25 11:51] neurolabusc commented on #476
OK, so this is another unintended consequence of generating a tag for the development branch noted in issues [470](https://github.com/rordenlab/dcm2niix/issues/470) and [467](https://github.com/rordenlab/dcm2niix/issues/467). It is unfortunate we are unable to restrict condo to the master branch, but going forward we will only generate tags for new stable releases.

Given things have gotten out of

[2021-01-25 14:07] yarikoptic commented on #476
it is up to maintainer to decide what to upload.  But IMHO just do not tag with release like tags in develop.  Could have some `.dev` suffix to signal that it is not a release if a tag desired.  Would make it trivial to tell that apart from a proper release.

do you mean `1.0.20201102` -- I have tried it on a few datasets.  my testing == your testing (ran while building a neurodebian package) + he

[2021-01-25 14:15] neurolabusc commented on #476
@yarikoptic Please test the latest commit to the dcm2niix development branch (currently v1.0.20210124). Consider this a release candidate for the next stable release.

 - For Windows: You can get a pre-compiled version from [AppVeyor](https://ci.appveyor.com/project/neurolabusc/dcm2niix) (click on the Artifacts button).
 - For UNIX:

[code]

[2021-01-25 14:27] yarikoptic commented on #476
there is no such tag, correct? so I should just take this one?
[code]
(doesn't sound right since you do not release from development branch typically IIRC)?

[2021-01-25 14:28] yarikoptic commented on #476
ie, what should be the "version" for this thing if it doesn't have `master` merged into it (#467, closed without change)?

[2021-01-25 14:34] neurolabusc commented on #476
The version is the value reported when you run `dcm2niix -v`. Issue [467](https://github.com/rordenlab/dcm2niix/issues/467) was the source of this whole debacle. development commits will not have a unique GitHub tag associated with them, as discussed with the unintended consequences from that issue.

[code]

[2021-01-25 14:53] yarikoptic commented on #476
from https://github.com/rordenlab/dcm2niix/issues/467#issuecomment-750893180 I can say that you agreed that merging master into development is a good idea ;)

FWIW:

Such a version does not uniquely identify the state, since it would be the same today and tomorrow (when e.g. you push new commits and ask me to retest again) thus making it impossible (without coming up with my own adhoc version) to

[2021-01-25 14:57] baxpr commented on #476
@duettwe can you take a look here?

[2021-01-25 15:40] neurolabusc commented on #476
@yarikoptic the development branch is not for mass distribution. I just wanted you to test it with your own data and routines, as you use the software in ways that I did not expect when developing this software. Your large dataset and routines can be used to validate the development branch prior to generating a new stable release. While each commit is tested against my own internal datasets, these

[2021-01-26 19:49] arnaudbore opened #477 "Wrong gradient directions (flip ?)"
**Describe the bug**
When I convert these series (DWI) of dicom to nifti and then compute DTI and extract a RGB map from tensor, I can see that the tensors are not in the right direction. It should be red in the corpus collosum (now it's green).

Is there something that shows me that I should flip my gradients right after dcm2niix and before moving forward with any computational stuff ? Or maybe a

[2021-01-26 22:34] neurolabusc commented on #477
@mr-jaemin do you have any thoughts on this? dcm2niix is faithfully transcribing the [DICOM tags](https://github.com/rordenlab/dcm2niix/tree/master/GE) but they do not make much sense. The last two volumes report a b-value of 1100, but they look like b=0 and derived trace/ADC maps.

@arnaudbore I note that this data comes from the NIH. Is it possible that this is a custom sequence that does not st

[2021-01-27 13:59] arnaudbore commented on #477
@neurolabusc
Somebody shared these data with me because they had some issues to use [tractoflow](https://tractoflow-documentation.readthedocs.io/en/latest/). I have no knowledge about the sequence. I shared the link to this issue with her so she can respond.

[2021-01-27 15:12] llevitis commented on #477
Hi @neurolabusc - I'm the one who shared the data with @arnaudbore. I wasn't part of the lab when the data was acquired, so I have shared your questions with a few members of my lab and will hopefully get a response asap. Thank you so much to you and @arnaudbore for your prompt responses!

[2021-01-27 15:46] llevitis commented on #477
Hi @neurolabusc and @arnaudbore, I just received this response from the person who created the sequence, so I may have to do quite a bit of additional data wrangling to be able to use TractoFlow:

"If I recall correctly, the acquisition would be utilizing the edti sequence and indicate that in the series name.  If this is indeed the case, then the source of the problem is that the diffusion direct

[2021-01-27 15:53] neurolabusc commented on #477
dcm2niix assumes the DICOMs are [veridical](https://en.wikipedia.org/wiki/Quis_custodiet_ipsos_custodes%3F). It is clear that the public and known proprietary DICOM tags are incorrectly used in these images. As you note, this custom sequence does not store the details correctly in the DICOM file. This is a limitation of your images, not dcm2niix. Beyond specifying the gradients, you will need to r

[2021-01-27 16:10] llevitis commented on #477
Thanks for the explanation @neurolabusc ! Hopefully I'll be able to resolve this asap.

[2021-01-27 16:41] duettwe commented on #476
We tested some DICOM conversions on the most recent development branch (e32fb1b958194c9ea6633724e18b3dd62b18b8c2). Verifying with fsleyes, we could see that the NIFTIs appeared correct.

[2021-01-27 16:48] baxpr commented on #476
Thanks @duettwe. To expand a bit, we checked a few specific things that we had trouble with in the past:

- Nifti header geometry (all series were aligned in world space)
- Philips derived ADC separated into its own .nii
- fmri volumes stored into single 4d .nii
- Philips fieldmap split into two .nii, _e1 (magnitude) and _e2 (field in Hz)

[2021-01-27 17:06] mr-jaemin commented on #477
As NIH explained above, PSD used a custom tensor file (diffusion gradient table) in DV26 software version. In this case, played-out gradient by PSD is correct as specified.  But, GE (recon) read/save the tensor.dat to DICOM. I confirmed that the bvec information match GE tensor.dat 44th directions. As noted, GE save custom tensor to DICOM in MR29.1 release.

To retrieve tensor information, you nee

[2021-01-27 17:30] #477 closed

[2021-01-27 17:31] #475 closed

[2021-01-27 19:48] vpapaioannou commented on #475
Thanks!

[2021-01-28 19:37] dlevitas opened #478 "Python translation of Philips real/imaginary acquisitions"
This pertains to #455. In certain cases, Philips scanners will output real & imaginary acquisitions, which need to be converted to magnitude & phase. @neurolabusc has a [matlab script](https://github.com/rordenlab/spmScripts/blob/master/nii_complex2magPhase.m) that deals with this, and I've translated the code into a short [python script](https://github.com/dlevitas/miscellaneous/blob/main/Phillip

[2021-01-28 20:09] baxpr commented on #476
Interesting. To contribute some info about Philips on that - I believe Philips puts the series description (such as `Ax GRE`) in the "Series Description" field as well. But the "Protocol Name" field is used for the same data, with an added tag like `WIP Ax GRE` to indicate when a scan used a research mode. Not sure how consistent that behavior is because I only spot checked.

[2021-01-28 20:44] captainnova commented on #476
@baxpr , I can confirm that Philips puts the series description in both the usual (0008, 103e) spot and (0018, 1030), although I'd have to go hunting to find one with a WIP. To be honest our lab tends to ignore (0018, 1030), so creatively reinterpreting it doesn't bother us much.

[2021-01-29 14:59] neurolabusc commented on #478
@devlitas that is a handy bit of Python code.

`scalef` is defined by the [NIfTI datatype](https://nifti.nimh.nih.gov/pub/dist/src/niftilib/nifti1.h). You can compute this with [Python](https://stackoverflow.com/questions/52475749/maximum-and-minimum-value-of-c-types-integers-from-python) or just use these values:

| DataType  | scalef |
| ------------- | ------------- |
| DT_UINT8 : 2 | 255 |
| D

[2021-01-29 21:44] neurolabusc commented on #476
@andersonwinkler and @captainnova thanks for your feedback. Thanks to help from GE engineers including @mr-jaemin dcm2niix contains a lot more meta-data for users. I had decided to use the series description for protocol name due to samples [like this one](https://github.com/neurolabusc/dcm_qa_ge). However, swapping the series protocol name and series description does seem like a mistake. I think

[2021-01-29 22:08] neurolabusc commented on #252
@fedorov I am not sure if you ever implemented this feature. I have changed the behavior a little bit. Previously, all DICOMs had to belong to the same series, and only a single output NRRD/NIfTI image was generated. The new behavior is that if multiple series are specified, multiple NRRD/NIfTI images will be created. This turns out to be a handy way to live with the macOS App Sandbox restrictions

[2021-01-30 16:04] andersonwinkler commented on #476
Many thanks @neurolabusc! We have a wrapper around dcm2niix and in it I was swapping the two fields in the JSON, a step that will now be no longer needed. Many thanks (also to everyone who contributed).
Cheers,
Anderson

[2021-01-30 20:09] captainnova commented on #476
Thanks @neurolabusc! It passes our local test suite now.

[2021-02-01 13:56] yarikoptic opened #479 "dcm_qa_nih tests fail if ran on development branch (1.0.20200427+git100-ge32fb1b)"
Sorry about the delay with providing feedback on the state of development branch.  Not sure what is going on and could be operator (mine) error somehow (but git submodules with test data seems to be in the state they should be) but trying to build a debian package from the state of development

[code]

results in following failures
[code]

[2021-02-01 17:15] neurolabusc commented on #479
These differences reflect improvements in the upcoming release for dcm2niix to GE. The results are different because they are better.
 1. Prior releases inserted the ProtocolName for the SeriesDescription when converting  GE MRI [see issue 476](https://github.com/rordenlab/dcm2niix/issues/476). The upcoming release preserves both SeriesDescription and ProtocolName.
 2. Jesper Andersson, Jaemin Shi

[2021-02-01 23:15] yarikoptic commented on #479
I might be missing something, but shouldn't then tests be adjusted to reflect that improvement along side with the improvement?

[2021-02-02 12:30] neurolabusc commented on #479
@yarikoptic prior to a stable release I ask users with large datasets to test the release candidate with their own datasets and their own calling methods. The goal is to prevent situations like your [issue 465](https://github.com/rordenlab/dcm2niix/issues/465) where you detected a [problem](https://github.com/rordenlab/dcm2niix/pull/448) with the last stable release that was not detected by any of

[2021-02-02 12:31] neurolabusc commented on #476
Thanks all for testing. Expect a new stable release shortly.

[2021-02-02 12:31] #476 closed

[2021-02-02 12:31] #478 closed

[2021-02-03 13:26] #479 closed

[2021-02-19 22:15] tokeefe opened #481 "Support for forcing 3D NIFTI output (no intelligent merging) for vNav conversion"
When converting a vNav series to BIDS, dcm2niix is converting every instance as a separate file. This is all documented in Issue #208. The problem I'm seeing is that dcm2niix is creating a mixture of 3D and 4D files in some cases. In my case, I have 144 x DICOM instances, but after conversion I end up with 142 NIFTI+JSON files. It seems that 2 pairs of DICOM instances are being merged together int

[2021-02-20 15:05] neurolabusc commented on #481
@tokeefe can you send me a DropBox/GoogleDrive/etc link of a DICOM series that exhibits this issue (my email is in my avatar). As noted in [issue 208](https://github.com/rordenlab/dcm2niix/issues/208) the varying spatial transforms in a vNav dataset is incompatible with the 4D NIfTI format (which requires a single spatial transform for all volumes). I am not sure if there is a universal method for

[2021-02-22 16:56] mharms commented on #481
FWIW, I believe that we are still using a "2017" version for conversion of our HCP-Lifespan acquisitions, and as I noted in #208, we locally handle the merging into a 4D volume, with arrayed accompanying json, via custom local code.  Sounds like we would probably need to modify our local code to work with the current version of `dcm2niix`.  Since our conversions are working fine for our purposes,

[2021-02-22 17:52] tokeefe commented on #481
Thanks for taking the time to look into this. Yep, this is a MGH vNav.

Yes, in the vNav scan I'm looking at (working on getting approval to share, though maybe this isn't needed anymore?) the 1st and 2nd volumes (`AcquisitionNumber` 1 and 2) are being merged together. Those volumes indeed have identical orientations (0020, 0037) and should probably be tossed anyway. However, there are also two ad

[2021-02-22 18:13] neurolabusc commented on #481
Hmm, I have only seen exemplars where the first pair were identical. Without seeing an example, it would be hard to create a good solution. Feel free to make a fork and develop your own solutions, you can share your fixes as a pull request if you wish.

The undocumented option `-z 3` may be what you are looking for (e.g. `dcm2niix -z 3 /path/to/DICOMs`).  This will save each volume as an uncompres

[2021-02-22 22:37] neurolabusc commented on #481
Please test this simple solution. It assumes vNav data is always saved as mosaics. Hopefully, this does not have unintended consequences for other datasets.

[code]

[2021-02-23 21:50] tokeefe commented on #481
Thank you so much for putting time into this. Using the vNav I shared with you, this development version is now producing 3D files for `AcquisitionNumber` 1 and 2 (`InstanceNumber` 1 and 33) but for some reason it's still merging `AcquisitionNumber` 52 and 71 (`InstanceNumber` 1633 and 2241). I've started to poke around the source and I'm sort of hovering around this section [here](https://github.

[2021-02-23 21:54] neurolabusc commented on #481
Can you make sure you are using the latest commit on the development branch (v1.0.20210222)? When I run this, all instances are stored as separate 3D files.

[2021-02-23 22:41] neurorepro commented on #476
Hello, i got the same error when installing with conda the latest version of heudiconv (which in turned installed dcm2niix from conda)

[code]
And when looking at the culprit `json` file:
[code]
[code]

[2021-02-23 22:50] neurorepro commented on #476
My solution for now to remove latest `dcm2niix` without removing `heudiconv`, and installing a version of `dcm2niix` not generating the error above:
[code]

[2021-02-23 22:52] neurolabusc commented on #476
v1.0.20201224 was never meant for public consumption. There will be a new stable release shortly.

[2021-02-23 22:57] neurorepro commented on #476
Sure, just letting it out there for people installing `heudiconv` or `dcm2niix` via `conda` and getting the same kind of errors as i did (it got me some time to figure out i didn't get the right `dcm2niix` version)

[2021-02-24 03:27] skimcnmc opened #482 "Siemens mosaic series of BOLD and DTI into individual/multi-slice dicoms"
We want to convert Siemens mosaic series of BOLD and DTI into individual/multi-slice dicoms.

Does dcm2niix help this before dicom2nifti conversion?

If not, could you suggest approaches to convert mosaic into separate dicoms per slice?

Please let us know.

Thank you.

[2021-02-24 13:21] neurolabusc commented on #482
@skimcnmc this is beyond the scope of dcm2niix's remit. Individual slices will have to report not only the individual image position patient (0020,0032) but also adapt the proprietary [CSA headers](https://nipy.org/nibabel/dicom/siemens_csa.html). The opportunity for errors seems large. I am not sure what you are trying to achieve, but implementing this properly will not be trivial. You may want t

[2021-02-24 13:21] #482 closed

[2021-02-24 13:45] tokeefe commented on #481
No problem. This is _exactly_ what I'm doing, note for note

Cone repo
[code]

Double check version
[code]

Compile
[code]

Extract DICOMs
[code]

Run dcm2niix
[code]

Check number of occurrences of 'Convert 2' in stdout
[code]

No file for instance `*i02411.json`
[code]

[2021-02-24 20:19] neurolabusc opened #483 "JSON keys with dots (periods)"
The BIDS standard stores values in JSON key-value pairs. Users are allowed to define their own filenames (keys) as long as they are not defined. At the request of the Oxford [BASIL](https://github.com/physimals/basil) team, recent versions of dcm2niix now copy a large number of fields from the Siemens [CSA header](https://nipy.org/nibabel/dicom/siemens_csa.html) to the BIDS sidecar. I copied the f

[2021-02-24 20:25] effigies commented on #483
The other thing I could see is promoting to an object and getting

[code]

Not sure if that would collapse onto some other notation that produces objects...

[2021-02-24 20:38] pvelasco commented on #483
For what is worth, `AdFree` (in the Siemens programming environment) is an array of doubles that the programmer can use for whatever they need. So maybe it would make sense to just make it a list (or a tuple):

[code]

[2021-02-25 13:41] lidialuq opened #484 "Keeping series time tag after conversion"
Hi Chris,
Great software! An issue I'm having: When processing data I need to have the (0008,0031) Series Time tag, which is not a part of the Nifti header. -f %t gives the study time, which doesn't help since I need to differentiate between series. Is there any way of keeping this tag after the conversion, be it in the json file, file name or otherwise?

[2021-02-25 20:26] neurolabusc commented on #484
dcm2niix will populate the key `AcquisitionTime` in the BIDS JSON sidecar using the value from the DICOM Tag [0008,0032](http://dicomlookup.com/lookup.asp?sw=Tnumber&q=(0008,0032)). I believe the Acquisition Time is preferable to the Series Time, as it occurs after the variable length shimming time.

[2021-02-26 15:08] lidialuq commented on #484
Interesting. I run dcm2niix with this command `dcm2niix -f '%d' -ba n -o path\to\output`. The json files I get do not have the AcquisitionTime key. I'm attaching the (anonymized) json file. The dicom files do have this key, am I missing something in the command, maybe?
[AX_SWAN_(hemo).txt](https://github.com/rordenlab/dcm2niix/files/6050462/AX_SWAN_.hemo.txt)

[2021-02-26 15:21] neurolabusc commented on #484
@lidialuq I believe this reflects anonymization applied to the DICOMs before they were seen by dcm2niix. GE DICOMs should [AcquisitionTime](https://github.com/neurolabusc/dcm_qa_stc). It is interesting that [SeriesTime](https://dicom.innolitics.com/ciods/pet-image/pet-series/00080031) is Type 1 (required) while [AcquisitionTime](https://dicom.innolitics.com/ciods/cr-image/general-image/00080032) i

[2021-02-26 15:38] lidialuq commented on #484
This is the relevant part of the header of one of the dicom files in this series, after anonymization:

(0008,0030) Study Time                                        125400
(0008,0031) Series Time                                        130553
(0008,0032) Acquisition Time                                130554
(0008,0033) Content Time                                    130554

These files are the in

[2021-02-26 15:41] neurolabusc commented on #484
I would strongly encourage you to use anonymization tools that preserve manufacturer name and vendor specific private tags. Without this information, you will get impoverished output. Meta data like slice timing, phase encoding polarity, etc. may be lost. The stripped DICOMs may not be of archival quality.

[2021-02-26 15:51] lidialuq commented on #484
Makes sense, but unfortunaly for this data I don't have access to the original files. All DICOM files have the Acquisition Time key in the header though, do you still think it's anonymization that is causing the issue?

[2021-02-26 16:42] Gresliebear opened #485 "Windows 10"
**Describe the bug**
A clear and concise description of what the bug is.

Traceback (most recent call last):
  File ".\dcm2nifti.py", line 62, in <module>
    convert_dcm_2_nii_x(dcm_folder, output_folder)
  File ".\dcm2nifti.py", line 28, in convert_dcm_2_nii_x
    converter.run()
  File "D:\L_pipe\pipeline_env\lib\site-packages\nipype\interfaces\base\core.py", line 434, in run
    runtime = self

[2021-02-26 18:32] lidialuq commented on #484
I tryed with other non-anonymized data and the tag appears in the json file. I'll just have to live with it, but at least now I know it will work on other data. Thanks for your help!

[2021-02-26 18:32] #484 closed

[2021-02-28 11:59] neurolabusc commented on #485
There is no evidence that this has anything to do with dcm2niix.

I am unfamiliar with the Python script `dcm2nifti.py`. Please contact the developer who created that script. You may want to try running dcm2niix from the command line
[code]
To convert your images without using Python. You might also want to use the graphical interface of [MRIcroGL](https://www.nitrc.org/plugins/mwiki/index.php/mri

[2021-02-28 21:01] neurolabusc commented on #481
@tokeefe I think the latest commit to the development branch (v1.0.20210228) provides a robust solution to this problem. Please test and close if this resolves this issue.

[2021-03-01 14:46] tokeefe commented on #481
That definitely seems to have done the trick. Thank you!

[2021-03-01 14:46] #481 closed

[2021-03-02 13:21] aqw opened #486 "test failures on ppc64el"
I am packaging dcm2niix v1.0.20201102 with GCC8.3.0 on Debian buster on IBM POWER8 systems (ppc64el). The build succeeds, but a few tests fail.

[code]

Diffing the output of `fslhd` for those files:
[code]
[code]
[code]
[code]
[code]

Four have identical headers, but one is slightly different on the Z-axis.

Thoughts or suggestions? I'm happy to provide additional logs or info if it would help. :

[2021-03-02 14:40] aqw commented on #486
Diffing the output of `xxd` for each of the files yields the following:

dti_tra_dir16_AP_9_134431.nii:
[code]
dti_tra_dir16_PA_6_134431.nii:
[code]
dti_tra_dir16_PA_rot_12_132222.nii:
[code]
dti_tra_dir16_PA_rot_12_134431.nii:
[code]
t1_gre_fsp_3d_sag_2_134431.nii:
[code]

Trying to convert this to anything meaningful is a bit beyond me. But I hope identifying the altered offsets helps you. ;-)

[2021-03-02 14:45] neurolabusc commented on #486
See [issue 327](https://github.com/rordenlab/dcm2niix/issues/327)

1. The diff error with the filenames simply reflects that sone image is in the folder `Out` and the other in the folder `Ref`.
2. I suspect the sub-voxel difference in the spatial transform probably just reflects differences in rounding errors for floating point. For example, some compilers will use fused multiply add instructions

[2021-03-02 14:51] #485 closed

[2021-03-02 15:07] aqw commented on #486
Thanks for the fast response! :-)

I did see #327, but in this case my arch is little endian (the `el` signifies that).

I'll play with `dcm_qa_uih` as you suggested and see if it has any impact. But I'm pretty sure I'm not running into an endian-ness problem.

The rounding is an interesting idea, and does make sense.

If it does turn out to be a rounding issue: any ideas on how to adjust the test

[2021-03-02 15:54] neurolabusc commented on #486
It does look like the binary differences you are seeing are at the start of the images, where the NIfTI header is stored. I suspect that is the [sform and qform](https://brainder.org/2012/09/23/the-nifti-file-format/) offsets are stored at 268..328 decimal (10C..148 hex), which is where you are seeing a difference.

You will see that internally dcm2niix uses the `isSameFloat()` function with a tol

[2021-03-04 11:05] lidialuq opened #487 "Manufacturer tag not found, but appears in DICOM"
When the manufacturer tag (0008, 0070) is set to "GE MEDICAL SYSTEMS" or "SIEMENS", dcm2niix cannot find the manufacturer, and I get the warning "Unable to determine manufacturer (0008,0070), so conversion is not tuned for vendor". In the json files though, the Manufacturers Model Name tag is filled ("Avanto", for example). On the other hand, everything works fine when manufacturer tag is "Philips

[2021-03-04 12:35] neurolabusc commented on #487
Avanto reflects the Manufacturer's Model Name (0008,1090) not the Manufacturer (0008,0070). My sense is that the Manufacturer tag has been mangled by your PACS system. Since each manufacturer interprets the complex DICOM standard differently and employs their own private tags, it is important to correctly identify the manufacturer that created the image. I suspect a DICOM anonymization stage or a

[2021-03-04 14:24] lidialuq commented on #487
The Manufacturer tag is indeed empty in the dicom header as shown by running `dcm2niix -b i -v 2 /path/to/DICOM/`, but it is present in the original dicom header (see attached files, * are values that I have removed, but that are present in the original files). Is the reading of the Manufacturer tag by dcm2niix dependent on any other tags being present?

The images are not anonymized at all (they

[2021-03-04 14:41] neurolabusc commented on #487
Looks like some tool inserted new sequence with a different Manufacturer (0008,0070) name. Your file `dicom_header.txt` only reports the highest level of the hierarchy.

[code]

[2021-03-04 15:47] neurolabusc commented on #487
You may want to try the latest commit (v1.0.20210304) which is available as a compiled Windows application from [AppVeyor](https://ci.appveyor.com/project/neurolabusc/dcm2niix/build/artifacts). This gives precedence to the first Manufacturer tag that it recognizes (Siemens, Philips, GE, UIH, Toshiba, Canon, Bruker).

[2021-03-04 17:22] lidialuq commented on #487
Neat, this fixed the issue. Thank you!

As a side note: It was apparently sectra inserting a new manufacturer in the Contributing Equipement Sequence tag (see image). The weird thing is that this tag is exaclty the same in all dicom files coming from this PACS. For some reason, dcm2niix still managed to figure out the manufacturer when it was philips, but not when it was siemens or GE.
[contributi

[2021-03-04 23:07] jbteves opened #488 "Feature Request: Python API"
It would be a neat feature to be able to access the `dcm2niix` core code through python with a call like this:
[code]
Having the interface available in Python would accomplish a few things:
1. Make it easier for people to see what fields `dcm2niix` is picking up, potentially making troubleshooting easier when manufacturers make annoying choices.
2. Having the python interface makes batch convertin

[2021-03-05 14:47] neurolabusc commented on #488
@jbteves this sounds like the Python equivalent of @jonclayden's [divest](https://github.com/jonclayden/divest) for R. Jon inserted a bit of R-specific code by inserting a few `#ifdef USING_R...#endif' compiler directives into the main code. This keeps divest and dcm2niix from forking from each other, as they have the same core code base. It seems like a great idea, but it is outside my skillset.

[2021-03-07 15:39] vctorwei opened #489 "No bvecs and bvals files generated from siemens DTI data"
Hi

I was using dcm2niix to convert a retrospective DTI data of 12 directions
The sequences were acquired from the Siemens scanner.

Can you check if this is the problem with the data or do I need a special setting of the dcm2niix?

Thank you
[DTI.zip](https://github.com/rordenlab/dcm2niix/files/6097405/DTI.zip)

[2021-03-07 16:01] neurolabusc commented on #489
This is a limitation of these DICOM images, not dcm2niix. These images do not have the [proprietary Siemens CSA header](https://nipy.org/nibabel/dicom/siemens_csa.html) that contains the [diffusion vectors and weighting](https://www.na-mic.org/wiki/NAMIC_Wiki:DTI:DICOM_for_DWI_and_DTI#Private_vendor:_Siemens). There are two possibilities:
 1. These images were acquired using software version `syng

[2021-03-07 16:01] #489 closed

[2021-03-07 16:01] #487 closed

[2021-03-07 16:03] neurolabusc commented on #486
I am closing this issue. The differences seem limited to the spatial transforms and of very small magnitude. These tiny differences will not significantly impact starting estimates for subsequent coregistration. I recognize this makes validation more challenging.

[2021-03-07 16:03] #486 closed

[2021-03-07 16:03] neurolabusc commented on #483
Closing this. The upcoming version will remove the dots.

[2021-03-07 16:03] #483 closed

[2021-03-07 16:11] neurolabusc commented on #488
I am closing this enhancement as it is outside my expertise. Happy to review a pull request from anyone who wants to tackle this.

[2021-03-07 16:11] #488 closed

[2021-03-07 16:43] aqw commented on #486
That makes sense. :-)

Sorry I havn't had the time to follow up on this as much as I'd like. I agree with your identification that the offsets are where we are seeing the differences.

Where I've left-off is compiling this with LLVM. The resulting binaries segfault, which I'm sure is entirely self-inflicted, but I need to find time to look into more fully.

If I have success with Clang (and rememb

[2021-03-09 15:46] neurolabusc opened #491 "Support Canon Enhanced DICOM"
Canon (né Toshiba) can now create enhanced (4D) DICOMs. This is advised, as the classic (2D) DICOMs require more disk space and [DWI images are underspecified](https://github.com/neurolabusc/dcm_qa_canon). Clément Debacker has provided a [validation dataset](https://github.com/neurolabusc/dcm_qa_canon_enh).  Xiangrui Li and Arnaud Le Troter have provided suggestions for supporting this format.

[2021-03-09 15:48] #491 closed

[2021-03-09 17:56] carolinamendez opened #492 "Coverting hdr/img files into nii SPM8 format"
Hi Chris,
Thank you and your team for MRICroMTL / GL It works fantastic in macOS Big Sur V 11.2.2
However, there are some features that I miss from dcm2nii like converting hdr/img format into nii for SPM8 and converting DICOM to nii (uncompressed to be compatible with SPM8). Can this be done in the GUI?
Greetings
CarolinaM

[2021-03-10 15:28] carolinamendez commented on #492
Dear Chris,

Thank you for your fast response.
The problem is that I have the data of 60 patients with Bran Tumors and all their lesions were drawn on MRICRon saved as voi and converted to hdr/img format for SPM8. I’m using SPM12 already, but I cannot convert the hrd/img format to nii.
Probably I will just need to find an older computer with dcm2nii to change the format or FSL as you suggested.

G

[2021-03-10 16:42] neurolabusc commented on #492
SPM12 (and SPM8) will read NIfTI images stored either as single (.nii) or paired (.hdr/.img) files. If you want, you can easily convert between these styles using FSL or a simple Matlab/SPM script like the one below. This is outside of the remit for dcm2niix, which is dedicated to the conversion of DICOM images to NIfTI.

[code]

[2021-03-10 23:31] neurolabusc commented on #473
For future reference, [issue 476](https://github.com/rordenlab/dcm2niix/issues/476) describes how default behavior has changed.

[2021-03-11 10:34] drmclem opened #493 "Philips scaling with when RW units present not including scale slope ?"
I have had a query from one of our users - It looks as if there is a problem with the scaling logic when the real world tags are present for the rescale slope and rescale intercept. For the "precise" conversion (FP in Philips terminology) the scale slope needs to also be taken into consideration but I think even though displayed in the logs only the RS and  RI are being used leading to a conversio

[2021-03-11 11:55] neurolabusc commented on #493
@drmclem I propose changing the [Image Scaling section of the Philips conversion notes](https://github.com/rordenlab/dcm2niix/tree/master/Philips). The new text is now explicit that precedence is given to the real world scaling. Further, the alternative scaling factors are available in the BIDS sidecar. The variation described by the user appears to describe differences in image export between Cla

[2021-03-11 16:37] #492 closed

[2021-03-11 16:40] drmclem commented on #493
HI
The problem is that the real world scaling with no units is not sufficient for cross scan comparison - either the scale slope needs to be included as well, or the user needs a third option - just using real world produces scans which can't be compared.

Matthew

[2021-03-11 16:43] neurolabusc commented on #493
So do you recommend the default behavior be to provide the transforms for `P`, and save the `D` if the user explicitly requests `-p n`? In other words, the `W` values are not desired?

[2021-03-11 16:51] drmclem commented on #493
Hi

I need to look at an edge case test which will take me a couple of days but I think when using the P option it should always be the floating point value which always needs SS value.

Without it then I'm not sure the best version - I wasn't sure if -p = n gets you the raw pixels or the displayed values - my preference would be for display (so rescale only).

The edge case is what happens for, f

[2021-03-11 17:12] neurolabusc commented on #493
You can find a Philips Fieldmap [here](https://github.com/neurolabusc/dcm_qa_enh/tree/master/In/Philips). For this example, you get the same rescale regardless of if you choose W,D,P intensity transforms:

BIDS JSON:
[code]

Derived NIfTI rescales:

[code]

[2021-03-12 11:09] neurorepro commented on #476
Hello apologies for the new message as I know you are working on it, but i just want to mention that two new persons contacted me since the last message about the bug they are facing when installing `heudiconv` with conda which in turn install this version of `dcm2niix`.  So i believe quite a few users may have this bug without knowing what's wrong with their workflow (I could point out to the use

[2021-03-12 11:38] neurolabusc commented on #476
@neurorepro there will be a new stable release of dcm2niix when [issue 493 is resolved](https://github.com/rordenlab/dcm2niix/issues/493). I am just waiting for @drmclem to confirm that we will now default to using the Philips precise scaling instead of the real world values when both exist. So I expect a new release in a couple of days.

In addition to issue 491, the new stable release will make

[2021-03-12 11:51] neurorepro commented on #476
@neurolabusc Great to know it's coming along very soon, thank you for the update !

[2021-03-12 22:00] lyndonboone opened #494 "Compile with "mySegmentByAcq""
Hi Chris,

Not so much an issue, just a quick question:

I often see the message, "slices stacked despite varying acquisition numbers (if this is not desired recompile with 'mySegmentByAcq')". How would one go about compiling the software with "mySegmentByAcq"? I can't seem to find that option in the documentation or the COMPILE.md file.

Apologies if this is a basic question. I'm a bit new to com

[2021-03-12 22:26] neurolabusc commented on #494
The simplest way is to modify the command executed when you run `make` from the terminal in the `console` folder adding the parameter `-DmySegmentByAcq`, e.g.

[code]
Be aware that segmenting by acquisition number should be an extremely unusual configuration and it is likely to have unintended consequences for typical DICOM data. Only use this if your DICOMs have been mangled in some way.

[2021-03-13 02:56] lyndonboone commented on #494
Thanks for the quick reply. That worked!

[2021-03-13 02:56] #494 closed

[2021-03-15 14:55] drmclem commented on #493
Hi

Think I have got to the bottom of this with some limited testings (so caveats etc.). To summarise the summary - if the image derives from a quantitaive method, or inline subtractions (ASL) then DV and FP scalings are identical - in otherwords applying the Scale Slope modification to the scaling is a NULL operation (give or take rounding error).

If however the dataset is an unaltered stream th

[2021-03-16 10:31] neurolabusc commented on #493
@drmclem thanks. So are you happy for dcm2niix to provide the Precise scaling values (`P`, aka `FP`) by default and the Display values (`D`, aka `DV`) if the user selected `-p n`. In no case will dcm2niix provide the RealWorldValue scaling. Regardless of selection, the operands will be provided in the BIDS JSON file so a user can select any scaling factor they prefer later.

[code]

[2021-03-16 16:26] drmclem commented on #493
Hi - as an aside I  think I assumed that  that -p n did no conversion at all and returned the raw integers from the file.

I think also conceptually this isn't an issue with RealWorldValue per se as it it is currently an alternative location to the standard rescale values - in the cases I have seen if RWorld is present so have been the rescale tags - but I know cases in the wild where rescale has

[2021-03-16 17:07] neurolabusc commented on #493
The raw pixel data values is always losslessly copied from the DICOM to the NIfTI. The only thing that changes is the NIfTI `scl_slope` and `scl_inter` values. With `-p n' these are set to the rescale slope (0028,1053)and rescale intercept (0028,1052) , identical to behavior to the other manufacturers. One the other hand, the precise values adjust `scl_slope` and `scl_inter`  based on the Philips

[2021-03-17 15:45] neurolabusc opened #495 "Canon classic DICOM SeriesInstanceUID bug"
**PUBLIC SERVICE ANNOUNCEMENT**

Users of Canon MRI systems should avoid saving data as classic 2D DICOMs. Export data from the console in enhanced DICOM format.

**DETAILS**

The describes an issue with [Canon MRI](https://www.nitrc.org/forum/forum.php?thread_id=12206&forum_id=4703) saved in classic (2D) format. This was observed in Canon SoftwareVersions (0018,1020) V6.0SP2001*. Specifically,  4

[2021-03-19 17:43] joshy opened #496 "Missing %g option in dcm2niix help text"
**Describe the bug**
It is now possible to have the accession number as part of the file name with the `%g` option. However it is not shown in the help text even it is also the default option with recent releases.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the command 'dcm2niix'
2. Current help text is:
[code]

**Expected behavior**
Just list `%g` as another valid option.

** Versio

[2021-03-19 21:53] #496 closed

[2021-03-19 21:55] #495 closed

[2021-03-23 22:39] #493 closed

[2021-03-30 12:51] neurolabusc commented on #476
Maybe  @kastman or @ningfei can help. I did not set up the conda-forge hooks.

[2021-03-31 12:25] neurolabusc commented on #476
@dmd thanks to @kastman it is [done](https://github.com/conda-forge/dcm2niix-feedstock/pull/12). You can now get [v1.0.20210317 from conda-forge](https://anaconda.org/conda-forge/dcm2niix)

[2021-04-02 16:47] duettwe opened #499 "Issues with Spinal Cord Scans"
**Describe the bug**
We have a user encountering an issue with spinal cord scans on more recent versions of dcm2niix. He's tested it on 2 different scans. **I can privately provide the DICOM files by box link.** Here's the information he provided:

_Any scan that has "dti_2min_b1000" is the brain. Scan numbers 9 and 10. These all work good. I can grab DICOM directly, or any of the 4 DCM2NII conver

[2021-04-02 17:07] baxpr commented on #499
Dimensions are labeled as diffusion related:
[code]

But this DICOM also has:
[code]

The trigger time field may be related to some custom pulse sequence program? Not sure. Maybe dcm2niix is prioritizing the trigger time to split volumes, but we need it to prioritize the diffusion info?

[2021-04-02 19:47] neurolabusc commented on #499
The sequence is labeled as a `WIP` (work in progress) not a product sequence. These often have all sorts of custom interpretations of the DICOM standard. I am assuming this is from a Philips scanner. As @baxpr notes, it does look like the sequence does define that different volumes use a different trigger times. It does seem appropriate to segment volumes by trigger time, right? Feel free to send

[2021-04-02 20:58] neurolabusc commented on #499
Your images do specify different trigger times in 0018,1060 and 0020,9153. The expected behavior in these cases is to segment the scans, which is admittedly a tough task with these enhanced DICOMs. This looks very similar to [issue 395](https://github.com/rordenlab/dcm2niix/issues/395) where changing dcm2niix to handle single customer solutions which are not part of the Philips product would lead

[2021-04-02 22:02] baxpr commented on #499
@neurolabusc thanks much! We can apply either of those solutions, so that gets us past the hurdle.

What do you think about something like an `--ignore_trigger_times` command line option for dcm2niix? Is that likely to be generally useful, or would it just be addressing this one weird edge case?

[2021-04-03 12:55] neurolabusc commented on #499
@baxpr and @duettwe can you test out the latest development version (v1.0.20210403). It includes experimental support for the `--ignore_trigger_times` option:

[code]

[2021-04-06 08:36] drmclem commented on #499
Hi @duettwe - I would be interested to know how the sequence is set up - I assume you are using cardiac triggering to minimise phsyiological noise in the spinal cord due to pulseatile flow - we can set up dual triggered scans as part of the default software but haven't seen this use case in the wild - would be good to know if this is a custom feature or not.

[2021-04-06 11:58] neurolabusc opened #501 "Save units for Direct field mapping"
The BIDS specification describes [direct field mapping](https://bids-specification--622.org.readthedocs.build/en/622/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#case-3-direct-field-mapping). Future releases of dcm2niix should be extended to embrace this (draft) specification.
 1. Populate the `"Units": "Hz"` for Philips direct field mapping.
 2. Detect GE direct field maps (

[2021-04-06 14:45] baxpr commented on #499
@drmclem from Seth Smith, his best, and -

This is a cardiac triggered sequence, so no funny business.  The trigger is being used as a true trigger.  However, there are 3 NSA so it is possible that each NSA reports a trigger time. Single trigger, not dual. Trigger set to 127ms delay post max.

Please reach out directly if you have more questions.

[2021-04-06 16:44] dlevitas opened #502 "magnitude/phase designation for mp2rages acquisitions"
With[ mp2rage acquisitions](https://github.com/bids-standard/bids-specification/blob/c8f5827d549d519ca9ebb0d3eebf6661ff348484/src/99-appendices/11-qmri.md#inputs-are-file-collections) being incorporated into the BIDS standard, I've noticed that the `_part-` label can be used to specify magnitude or phase. Dcm2niix typically includes `_e1`, `_e2`, `_e2_ph` for designating such acquisitions; however

[2021-04-06 16:55] neurolabusc commented on #502
The current stable release is [v1.0.20210317](https://github.com/rordenlab/dcm2niix/releases). It will distinguish echoes and phases for some vendors and some sequences, for example [Siemens Fieldmaps](https://github.com/neurolabusc/dcm_qa_me/tree/master/Ref). I believe it also works for [Siemens ME-MPRAGE](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2408694/) and Siemens SWI scans. If you have s

[2021-04-06 17:04] dlevitas commented on #502
I updated my dcm2niix to v1.0.20210317 but still get the same file naming outputs as with the old version. I've shared a set of our Siemens mp2rage data through Google Drive if that helps.

[2021-04-06 17:11] neurolabusc commented on #502
Thanks for sharing a sample dataset. In your case, each dataset is being saved as a separate Series Number. Therefore, the DICOM `recipe` is telling dcm2niix to consider these independent scans. You will want to use some higher level tool to combine these if they belong together.

[code]

[2021-04-06 17:15] dlevitas commented on #502
I see, thanks. I'm used to seeing magnitude/phase[diff] acquisitions with the same SeriesNumber and forgot that these acquisitions have separate ones.

[2021-04-06 17:15] #502 closed

[2021-04-06 18:12] francopestilli commented on #502
thanks for the help @neurolabusc

[2021-04-08 09:53] Svdvoort opened #503 "Bvals not correctly generated for GE data if adhering to the DICOM standard"
**Describe the bug**

I'm trying to create datasets where the bvals/bvecs are in the official tags according to the latest DICOM 2021a guidelines.
For example, I have a GE dataset where the data is originally stored in tag (0043, 1039).
I'm trying to update the data to put it in the correct tags, namely (0018, 9117), (0018, 9087) etc.
However, when the manufacturer is GE and the data is stored in

[2021-04-08 12:02] neurolabusc commented on #503
@Svdvoort the provided sample dataset is for isotropic diffusion images (I believe they are TRACE and  b=0). This explains the warning for each dataset:
[code]
Therefore, bval and bvec files are not appropriate for this series. The bval and bvec files are for the original raw directional diffusion data.

Be aware that [GE gradient vectors (0019,10bb, 0019,10bc and 0019,10bd)](https://github.com/ro

[2021-04-08 12:02] #499 closed

[2021-04-08 12:25] neurolabusc commented on #503
@mr-jaemin can you take a look at the 'DICOM_original` folder in the data provided above. The images report MagneticFieldStrength (0018,0087) DS [15000] and ImagingFrequency (0018,0084) DS [638733160]. The specification defines the units for [0018,0087](http://dicomlookup.com/lookup.asp?sw=Tnumber&q=(0018,0087)) as Tesla and [0018,0084](http://dicomlookup.com/lookup.asp?sw=Tnumber&q=(0018,0084)) a

[2021-04-08 13:56] mr-jaemin commented on #503
Here are some relevant DICOM tags for GE Diffusion as an example:
[code]
But, looking at the 'DICOM_original` folder, I noticed the "UN" and was expecting "DS" for bvec or "IS" for private bval (0043,1039). The values are obvious odd but, the "UN" may indicate that data doesn't contain original header information from scanner any more

from 1-56.dcm
[code]

[2021-04-08 16:01] vpapaioannou opened #504 "Warning: Missing images? Expected 10 images, but instance number (0020,0013) ranges from 5 to 6"
**Describe the bug**
It creates one extra file w/ name "*_Eq_1.nii".

Also the error message does not help to understand the problem since according to the output log below, all Instance Numbers exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the command 'dcm2niix ...'
`.../bin/dcm2niix_Linux --terse -v 0 -w 1 -z y -m y -b n -o "/newnifti" -f 0001_001_NA_Mb ./tmp`
2. See error ...

[2021-04-08 16:15] neurolabusc commented on #504
I would always recommend using the latest [stable release](https://github.com/rordenlab/dcm2niix/releases) (v1.0.20210317). The DICOM standard is evolving rapidly, so tools need to keep pace.

For classic DICOM, a 3D volume is based on a series of 2D slices. This is analogous to how a 3D loaf of bread is segmented into discrete 2D slices. In classic DICOM parlance, a sustained acquisition of slice

[2021-04-08 16:40] vpapaioannou commented on #504
Thanks.

[2021-04-08 16:40] #504 closed

[2021-04-09 11:19] Svdvoort commented on #503
Thanks for looking into this!

Indeed I believe the dataset contains a b=0 and TRACE b=1000 as well. I agree that a bvec file will not make sense for this case,
but the bval file can still be valuable as it still allows for the calculation of an (isotropic) ADC does it not?

The warning also seems to detect multiple b-vals (hence the 'Warning: Some images had bval>0 but bvec=0') but these are not

[2021-04-09 12:08] neurolabusc commented on #503
The rationale for the FSL format .bvec and .bval files is for tools like FSL's dtifit, AFNI's FATCAT, dti studio, etc. which are designed for directional diffusion data. They are not designed for isotropic diffusion scans. There is not a consensus for how vendors deal with these features, but I have seen image type tag (0008, 0008) that provides guidance for isotropic images with `B0 MAP`, `ADC`,

[2021-04-09 15:04] mr-jaemin commented on #501
For GE direct field map:
- Uploaded 3T three sample datasets [here](https://ge.box.com/s/u4hfo3cy13npigjcgzudaamf5329d7e7)
1. s59_B0rf: _in-vivo_ brain dataset
[code]
2. s56_B0map: simulated dataset
[code]
3. s57_3db0map: simulated dataset
[code]

- GE offers direct field maps for years. Dataset consists of two volumes: 1) derived phase field map [Hz] and 2) magnitude volume.
                - 2D

[2021-04-10 12:41] neurolabusc commented on #501
@mr-jaemin thanks for the concrete examples. I had to sign in to download these - can I publicly share these (in-vivo looks anonymized to me).

@mr-jaemin can you validate the latest commit to the development branch (v1.0.20210410).
 - I use Internal Pulse Sequence Name (0019,109e) to detect field maps, e.g.  `EFGRE3D ` or `B0map`. This is not precisely what you described. Is `EFGRE3D` used for an

[2021-04-10 14:56] mr-jaemin commented on #501
@neurolabusc Yes, you can share these publicly (Box with sign-in is a way to share externally. I don't have access to Google, Dropbox for uploading).

- For `EFGRE3D`, you are right. This is used for other types of images (3D GRE). As I noted above, the internal pulse sequence name (0019,109e) should be used for 2D`B0map`. For 3D, I suggest to use the Pulse Sequence Name (0019,109c) = `3db0map`
-

[2021-04-10 16:07] mr-jaemin commented on #501
@neurolabusc I submitted [a pull request](https://github.com/rordenlab/dcm2niix/pull/505/commits/c8874a6fa15e72b7a25ac270dd46abf3cc10cbc5) for detecting GE field maps.
- I confirmed that slice interpolation ZIP2 is NOT available for both 2D `B0map` and 3D `3db0map`. So, no need to worry about the ZIP2 for GE field maps.
- I can't think of any failure cases with this algorithm (although I don't hav

[2021-04-12 11:02] #503 closed

[2021-04-12 12:19] Svdvoort commented on #503
Just to clear things up so I know where to address these points: Is this a problem with the .bvec and .bval files (and thus this should be addressed for example with BIDS), or is this a problem with the DICOMs (as suggested by the ADC, TRACE etc tags)?

The first problem is indeed something to address with BIDS/FSL, but I believe the second point is now resolved with the diffusion macro in the DIC

[2021-04-12 12:47] neurolabusc commented on #503
The bval/bvec files are not appropriate for derived isotropic images (TRACE, ADC, MD, etc). There is no defined method to report these derived images in the BIDS specification, and vendors do not provide a consistent method to identify them. This is a limitation of the formats and the DICOM images, not dcm2niix.In general, one should avoid generating derived images on the scanner console, as one c

[2021-04-14 13:44] neurolabusc commented on #501
Solution demonstrated with the [GE and Philips validation datasets](https://github.com/neurolabusc/dcm_qa_fmap). Since we do not have GE or Philips equipment at my center, I would be grateful if users of these systems could test the development release of dcm2niix to ensure it does not fail in edge cases.

[2021-04-14 13:44] #501 closed

[2021-04-15 10:10] bthyreau opened #506 "Regression for the conversion of a file with redundant Patient Position entry"
The attached file is a (part of) DICOM image which fails to convert correctly in current dcm2niix version, but used to work in older versions. The image comes from a Philips scanner, and some PACS somewhere probably added a private section with a redundant field which triggers the errors.

When converted with current dcm2niix, a set of single-slices nifti files is output, which is not good. When c

[2021-04-15 13:28] neurolabusc commented on #506
Please try out the development branch and see if this resolves your issue. Some Philips systems generate two image position patient [(0020,0032)](http://dicomlookup.com/lookup.asp?sw=Tnumber&q=(0020,0032)) for each slice, one for public use and another in a sequence for private use (despite using a public tag). Handling this has become more challenging as now Philips can create enhanced DICOMs, wi

[2021-04-15 16:25] baxpr opened #507 "Philips enhanced vs classic - different positioning of image"
**Describe the bug**
We have (somehow) cajoled one of our scanners into producing both the usual classic series (26k files) and an enhanced DICOM of the same series. When the .nii produced by v1.0.20210317 are viewed in fsleyes, the image position is different by one voxel in the left/right dimension. The qform/sform of the two nifti files are the same.

**To Reproduce**
dcm2niix v1.0.20210317, no

[2021-04-16 00:27] bthyreau commented on #506
@neurolabusc The fix works well. Thanks you very much for your very fast reply !

Following your clear explanation, I must admit that for privacy reason, i had to manually alter the the DICOM header and probably over-deleted dicom fields, focusing only about triggering the bug. Sorry for wasting your time figuring that out. In particular, the original Dicom _did_ included the (0008, 0070) Manufact

[2021-04-16 13:27] neurolabusc commented on #507
@baxpr please confirm this is fixed in the latest commit to the development branch. The issue was specific to enhanced DICOM images that store extremely large and verbose headers.

The issue is that the [NIfTI header](https://nifti.nimh.nih.gov/pub/dist/src/niftilib/nifti1.h) stores vox_offset (offset from start of file to image data) as a 32-bit (`single precision`) floating point value. Floats h

[2021-04-16 13:36] baxpr commented on #507
@neurolabusc wow, that's pretty out there. Yet another fun quirk of our recent forays into multiband fmri. Results from the d8a46aa look good to me - I get matching .nii from either set of DICOM. I get one difference in the files, here, don't know its significance:

[code]

[2021-04-16 14:32] neurolabusc commented on #507
An offset at 163 would be in the [`descrip`](https://brainder.org/2012/09/23/the-nifti-file-format/) text field. You could use fslhd to report this value. It should look something like `TE=35;Time=152005.26` and any differences presumably reflect round errors in different DICOM header forms fro these values.

[2021-04-16 14:34] #506 closed

[2021-04-16 14:43] baxpr commented on #507
Just so. Thanks!

[code]

[2021-04-18 13:26] #507 closed

[2021-04-22 13:00] dlevitas opened #508 "Are PhaseEncodingDirection and PhaseEncodingAxis identical?"
I typically see the dicom header `PhaseEncodingDirection` with Siemens data; however, I've noticed the dicom header `PhaseEncodingAxis` with GE data and was wondering if these values are identical and are simply labelled different due to their respective scanner, or if they represent different values? I ask because I use the `PhaseEncodingDirection` value to determine the BIDS `_dir-` label (i.e.

[2021-04-22 14:00] neurolabusc commented on #508
The BIDS tag [PhaseEncodingDirection](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html) is explicitly defined by the BIDS standard, and reveals both the axis of the phase encoding axis (e.g. RL, AP, SI) as well as the polarity (e.g. R->L vs L->R).

Unfortunately, with some DICOM images one can determine the axis (e.g. RL, AP, SI

[2021-04-22 14:53] dlevitas commented on #508
Perfect, thanks for the clarification

[2021-04-22 14:53] #508 closed

[2021-05-10 06:34] colddie opened #509 "Cannot convert a 4D DICOM folder"
Hello,

I am trying to convert a 4D Dicom folder exported from a GE DMI PET machine. I encountered following error and I believed it is most likely due to the failure of reading individual 2d dicom slice. How to ignore these errors? Any instructions would be grateful.

Tao

Here is the print out message:
Compression will be faster with pigz.exe in the same folder as the executable
Chris Rorden's d

[2021-05-10 10:46] neurolabusc commented on #509
A few of your DICOM files appear to be corrupted. All DICOM tag lengths must be even, so files like `e1WholeBodyPETDynamic-1_500001_PT066.dcm` appear broken. The most likely explanation is a file transfer error (e.g. bad sector on hard disk, USB drive removed before file finished writing, etc.). Another possibility is that some tool corrupted the files (e.g. poorly implemented anonymization script

[2021-05-12 14:41] neurolabusc commented on #509
I am closing this issue, some images in this series were corrupted and can not be opened with any tool. This is a limitation of these DICOMs, not dcm2niix.

[2021-05-12 14:41] #509 closed

[2021-05-31 03:47] function2-llx opened #512 "`TotalReadoutTime` output in the json file can be `inf`, which is not allowed by JSON syntax"
**Describe the bug**
`TotalReadoutTime` output in the json file can be `inf`, which is not allowed by JSON syntax

**To Reproduce**
Simply run dcm2niix in command line like: `dcm2niix -z y -f %s -o <output_dir> <input_dir>`
Sorry that I can't provide the specific files to reproduce, but I can upload an screenshot in vscode:
![image](https://user-images.githubusercontent.com/38486514/120136929-d9d2

[2021-05-31 12:29] neurolabusc commented on #512
- There have been numerous [commits](https://github.com/rordenlab/dcm2niix/commits/development) sincee the last stable release. Can you test whether the latest commit on the development branch (v1.0.20210426) resolves your issue?
 - Can you include the entire JSON file instead of a partial screenshot, which will reveal further details like the manufacturer.

[2021-05-31 12:46] function2-llx commented on #512
My fault,I only checked the master branch.

I've build dcm2niix myself with commit https://github.com/rordenlab/dcm2niix/commit/7038255816fe606865fd624a687bcf5dc0eb88a5 (the HEAD for development branch currently), however it still not work for me.

Generated JSON:

[code]

[2021-05-31 13:25] neurolabusc commented on #512
@function2-llx I think you want to check the provenance of these images. I suspect that some anonymization tool or PACS has corrupted your DICOM images. I suspect if you can get the raw data from your scanner, you will get sensible results. The reasons I am suspicious of these images are:

1. `"MagneticFieldStrength": 30000` should presumably be 3, as units of [(0018,0087) is in Tesla](https://dic

[2021-05-31 13:56] function2-llx commented on #512
@neurolabusc Thank you so much for pointing this out! I'll check my DICOM data later.
Seems it's a common issue that JSON cannot encode `Infinity` of `NaN` properly, and many projects are facing this. Trivial solution might be:
- use `null`
- use string version of "Infinity" and "NaN"

And one thing notably that python's json library can parse something like:
[code]
to
[code]
So this might also be

[2021-05-31 14:18] neurolabusc commented on #512
The latest commit to the development branch (v1.0.20210531) will only report `TotalReadoutTime` if finite. Fixes symptom, but not underlying issues with this dataset. Obviously, non-finite `TotalReadoutTime` suggests the DICOM does not provide valid values for calculation.

[2021-06-01 10:55] renero76 opened #513 "dcm2niix wrong number of slices"
**Describe the bug**
I have to convert a 4D MRI sequence composed by 28 volumes from DICOM (1540 files) to NiFTI. dcm2niix produces 22 slices for each volume instead of 55. I have to say that 1540 is divisible both for 22 and 55 but I need a nifty file with these dimensions: X*Y*55*28  and not X*Y*22*70.
I have the last version of dcm2niix.

How can I resolve?

Thanks a lot

**To Reproduce**
Steps

[2021-06-01 11:43] neurolabusc commented on #513
- Does the latest commit to the development branch ( v1.0.2021042) resolve your issue?
- Does the text reported by dcm2niix during conversion generate any warnings?
- Can you share a dataset with me (email address in avatar) via DropBox, GoogleDrive, etc?

[2021-06-01 12:21] #512 closed

[2021-06-01 13:14] amsinha9 opened #514 "Icon not in main image"
I am trying to convert from DICOM to nifti from the ADNI dataset, but am running into several issues with the conversion. Here is the command I'm running:

[code]

but keep running into this error:

Warning: Assuming 7FE0,0010 refers to an icon not the main image
Warning: Assuming 7FE0,0010 refers to an icon not the main image
slices stacked despite varying acquisition numbers (if this is not desi

[2021-06-01 14:47] neurolabusc commented on #514
- It is hard to provide help when you do not complete the template for a new issue. Specifically please report the complete version string, e.g. `dcm2niiX version v1.0.20201207  Clang12.0.0 ARM (64-bit MacOS)`, and make sure you are using the [latest stable release](https://github.com/rordenlab/dcm2niix/releases).

- As noted previously, not all [ADNI DICOM volumes are valid](https://github.com/ro

[2021-06-01 15:04] amsinha9 commented on #514
I apologize for not including the version string in the original post. The version string is:

[code]
I believe this could be due to not using the latest stable release, correct?

[2021-06-01 15:05] mr-jaemin commented on #512
From the `TotalReadoutTime` [formula](https://github.com/rordenlab/dcm2niix/tree/master/GE#total-readout-time) below:
[code]
I suspect that `Asset_R_factor` was set to 0 (d.accelFactPE = 0.0), perhaps in the absence of DICOM tag (0043,1083) `kAssetRFactorsGE`. "GENESIS_SIGNA" is an old system.

@function2-llx, could you please check the DICOM tag (0043,1083)? I was expecting [1\1] like below for A

[2021-06-01 15:10] function2-llx commented on #512
@mr-jaemin Sure, but I'll have to do it a few days later. Feel free to remind me if I don't response for a long time.

[2021-06-01 15:23] neurolabusc commented on #514
Latest [stable release](https://github.com/rordenlab/dcm2niix/releases) is v1.0.20210317, so your version is 2.5 years out of date.

[2021-06-03 14:03] neurolabusc commented on #514
dcm2niix discriminates between a `warning` (converted images, but anomalies were detected) and an `error` (unable to convert images). In your case, there is a `warning` which means that the conversion completed but dcm2niix is not confident that the conversion was successful. You will have to use visual inspection to ensure correct conversion.

dcm2niix is designed to read the complicated DICOM fo

[2021-06-03 14:06] amsinha9 commented on #514
That makes sense, I will reach out to them directly about this issue. Thank you for the timely response and help with this, I appreciate it.

[2021-06-03 14:06] #514 closed

[2021-06-04 12:16] #513 closed

[2021-06-04 20:41] baxpr opened #515 "DICOMs with incomplete data"
**Describe the bug**

We occasionally get a DICOM with incomplete data. This typically happens when an fMRI scan on Philips is stopped early - the scanner just reconstructs what it can. The enhanced DICOM produced by the scanner typically ends up with N complete volumes, plus some but not all of the frames/slices of the final volume.

dcm2niix will create a nifti file from these, but it gets confu

[2021-06-06 12:33] neurolabusc commented on #515
This is a duplicate of [issue 357](https://github.com/rordenlab/dcm2niix/issues/357). I suggest you look at the suggestion by @drmclem. Alternatively, you could try the [fix_dcm_incompletevols.py script](https://github.com/VisionandCognition/NHP-Process-MRI/blob/master/python/fix_dcm_incompletevols.py) from @pcklink.

I have committed a kludge to dcm2niix that **might** convert your images. Howeve

[2021-06-06 14:36] baxpr commented on #515
Thanks! I had missed issue 357 - we'll dig in to that.

[2021-06-06 14:36] #515 closed

[2021-06-09 19:56] captainnova opened #516 "The BIDS units should be available"
Hi,

In a lab meeting today a lot of us were poring over some BIDS .jsons from dcm2niix, and it turned out that we have some disagreement over what the units should be. I don't know if a group of > 2 people will ever settle that issue, but it would be moot if there were some official statement saying what the units are.

I know the times are in s and the frequencies are in Hz, which agrees with ht

[2021-06-09 20:39] mharms commented on #516
`TxRefAmp` is Volts, I believe.

As for `ShimSetting`, that's complicated.  The first 3 values are related to the 1st order shims, and are taken from `sGRADSPEC.lOffset{X,Y,Z}`.  The next 5 values are related to the 2nd order shims, and are taken from `sGRADSPEC.alShimCurrent[0-4]`.  Here's what I've previously learned about the units of each, based on comparison to the "Options:Adjustments" tool

[2021-06-10 08:39] drmclem commented on #516
Hi

I assume that the values in the previous comment are very manufacturer specific private tags or derived from elsewhere as I don't think the DICOM standard has places for these items - I would worry that you define a standard which can only apply to one vendor - For example I'm not sure we could reliably convert from how one vendor sets its shim or Rf Power into a meaningful value for which ano

[2021-06-10 11:29] neurolabusc commented on #516
The fields defined by the [BIDS standard](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html) have defined units, for example `MagneticFieldStrength` is in Tesla, and `EchoTime` as well as other temporal values are in seconds.

However, dcm2niix often includes fields that are not defined in the BIDS standard. Since these fields ha

[2021-06-11 15:06] neurolabusc commented on #516
@captainnova I have created my proposal for a description [here](https://github.com/rordenlab/dcm2niix/tree/development/BIDS). You could add more types of `Notes` to describe which fields are part of BIDS (`b`), units (e.g. `s` for seconds), etc.

Since you have offered to put some time into this, feel free to expand my existing proposal or come up with your own independent proposal. I am probably

[2021-06-11 18:18] captainnova commented on #516
Thanks @neurolabusc, that's a really great start. I am working on it, but will eventually need a correctness check.

[2021-06-12 15:41] neurolabusc commented on #516
@captainnova I have extended your work. With the new organization, I suggest we remove the `manufacturer` column, as we describe vendor-specific fields in different tables.

[2021-06-13 17:40] captainnova commented on #516
Agreed and done.

[2021-06-13 18:00] captainnova commented on #516
Thank you, @neurolabusc, I think this is ready.

[2021-06-13 18:00] #516 closed

[2021-06-15 14:00] satra opened #519 "convert a single series given a dicom file"
**Describe the bug**

This is more of a feature request than a bug, unless there is a way to do this and the help doesn't help :)

i'm trying to convert a single series but this command just converts a single slice:

[code]

in heudiconv we extract the group of files that the series belongs to and (put it in an isolated directory and then convert). but was wondering if there was a way to do that i

[2021-06-15 14:22] neurolabusc commented on #519
@satra the `-s y` feature limits conversion to a single file, which will work for enhanced DICOM, but not classic 2D DICOM. The way that FSLeyes and MRIcroGL solve this problem is to make two calls to dcm2niix - the first uses `-n -1` identifies the CRC for the SeriesUID as a list (lines begin with a tab followed by the CRC, followed by a tab, followed by output name). Since the output name is con

[2021-06-15 14:35] neurolabusc commented on #519
Alternatively, since heudiconv already has information about the DICOMs, you could also compute the CRC32 for the DICOM SeriesInstanceUID tag [(0020,000E0](http://dicomlookup.com/lookup.asp?sw=Tnumber&q=(0020,000E)).

[code]

[2021-06-15 14:38] satra commented on #519
thanks @neurolabusc

[2021-06-15 14:38] #519 closed

[2021-06-16 14:11] bendhouseart opened #521 "FrameTimeStart error in sidecar json with PET dataset"
The FrameTimeStart list produced after running dcm2niix on a PET dicom dataset does not align with the frame duration field. Something odd is happening, below are the values from the *pet.json output from dcm2niix

[code]

FrameTimeStart should align with Frame duration, currently doing a cumulative sum of FrameDuration to account for this error.

**To reproduce**

1. Acquire 'errant' dataset from

[2021-06-16 14:13] bendhouseart commented on #521
tagging @mnoergaard for additional comments and visibility

[2021-06-17 17:29] mharms opened #522 "Add "SiemensOrientationText" (0051,100E) (suggestion)"
Looks like we never included "Siemens Orientation Text" (0051,100E) as one of the parameters that populate the json sidecar.  I'm used to having this available for review in our HCP XNAT (which we must be grabbing as part of a DICOM Meta-Data extraction step).  Would be nice to include in the sidecar json as well.

[2021-06-17 18:33] neurolabusc commented on #522
I have added this, but wonder if it is completely redundant with `ImageOrientationPatientDICOM`?

[code]

[2021-06-17 19:57] mharms commented on #522
Thanks.  Yes, it is in some sense redundant, but easier to interpret.  e.g., If its "Tra" you immediately know a scan was acquired in a strictly Transverse orientation, without needing to know/recall how that would be represented in the `ImageOrientationPatientDICOM` values.  Similarly, way easier to use that text version to check if AutoAlign was applied relative to the "Orientation" parameter se

[2021-06-17 21:54] mharms opened #523 "Reporting of major changes within Releases"
Just wondering if there is any sort of convention in terms of the "major" changes reported on the Releases page.  As an example, I was comparing the output of the `20210317` and `20201102` versions, and was surprised to find that the values for `EffectiveEchoSpacing` and `TotalReadoutTime` changed.   Upon explicitly comparing the two versions, I see that this change was introduced with #480.  Just

[2021-06-18 11:55] neurolabusc commented on #523
Stable versions of dcm2niix are released twice per year (Spring, Fall). Each release should address all issues raised since the prior release. Since that is a huge number, I try to only list the `major` changes in each new release, though the definition is arbitrary. From my perspective, issue 480 was pretty minor: the FSL definition of `TotalReadoutTime` is unusual, and there is no corresponding

[2021-06-18 18:05] mharms commented on #523
Yeah, I appreciate that it is a challenge sometimes to decide which changes are "major" enough to mention directly in the Release Notes.  I haven't used `dcm_qa` but it sounds like a very useful tool to automate these sorts of checks!  Thx.

[2021-06-21 14:44] neurolabusc commented on #521
@bendhouseart the `FrameTimeStart` reflects your images AcquisitionTime ([0008,0032](https://dicom.innolitics.com/ciods/cr-image/general-image/00080032)), while
`FrameDuration` reflects your DICOM FrameDuration ([0018,1242](https://dicom.innolitics.com/ciods/us-multi-frame-image/cine/00181242)). If your Frames were acquired without gaps between exposures, it reflects that your DICOMs are erroneous

[2021-06-21 15:07] mnoergaard commented on #521
The data can be found here:

https://drive.google.com/drive/folders/1bNiKS0LGe3Lj_6AIJiCnt5t1HihwNqhp?usp=sharing

[2021-06-21 15:28] neurolabusc commented on #521
@mnoergaard thanks for the example. dcm2niix appears to be accurately reporting the BIDS `FrameTimeStart ` as recorded by the DICOM `AcquisitionTime`. You may want to confirm that temporal gaps were not present between exposures. If no gaps were present, you will need to work with your Siemens Research Collaboration Manager to have the DICOMs accurately describe the acquisition.

[2021-06-21 15:57] neurolabusc commented on #521
The result from dcm2niix looks like it matches the Excel file pretty well. The Excel file lists the final scan at 185 minutes, which is 11100s. dcm2niix lists the start of the final frame at `FrameTimesStart` as 10106s, while acquisition of the final slice of the final frame begins at 10852s with a FrameDuration of 240s, yielding 11092s for the end of exposure for the final frame of the final volu

[2021-06-21 16:01] mnoergaard commented on #521
Thanks a lot for looking into this @neurolabusc. Will pass this on. Feel free to use the data for testing and/or updating the PET part of dcm2niix. We plan to provide you with more test data soon.

[2021-06-21 16:26] neurolabusc commented on #521
Great. dcm2niix will generate [JSON fields](https://github.com/rordenlab/dcm2niix/tree/development/BIDS) that are direct translations of the [PET Isotope Module Attributes](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.8.9.2.html). I have done my best to support [BIDS BEP009](https://docs.google.com/document/d/1mqMLnxVdLwZjDd4ZiWFqjEAmOmfcModA_R535v3eQs0/edit#), but in mos

[2021-06-21 16:52] mnoergaard commented on #521
Yeah, I agree with you - it is not likely that dcm2niix will be able to take care of everything (but it does great already now), and we will therefore try to make additional converters that can add the necessary information from external documents to the json file that dcm2niix generates. Since last time, the PET-BIDS specification has been merged with the main specification (https://bids-specific

[2021-06-22 14:27] bendhouseart commented on #521
@neurolabusc thanks again. Wouldn't have noticed this error in such a timely matter without dcm2niix. As @mnoergaard  we're in the process of creating additional converters for PET to better support its addition into BIDS, and in doing so trying not to diverge too far from some of the well established pattern in MRI to BIDS conversion. Naturally one of the first tools we turned to was dcm2niix.

I

[2021-06-22 14:27] #521 closed

[2021-06-22 14:59] #522 closed

[2021-06-22 14:59] #523 closed

[2021-06-28 15:33] BrunoFFPP opened #524 "LPS orientation to RAS orientation on dcm2niix affine matrix"
Dear all,
I'm trying to calculate affine matrix from my dicom data but I can't reach the affine matrix of dcm2niix.
I have a Philips 3DT1 sagittal data with 180 slices, matrix (240x240) and pixel (1x1x1 mm3). Image position(0020,0032) is : +89/-125/+143 and Image orientation(0020,0037) is : 0/1/0/0/0/-1.  When I use dcm2niix on this data I have the following RAS(L-->R,P-->A,I-->S) affine matrix:

[2021-06-28 16:00] neurolabusc commented on #524
Your high-resolution T1 scan is a 3D acquisition, and therefore it can be losslessly reoriented to match canonical NIfTI space (RAS) without any concern that the slice timing may be impacted. On the other hand, the localizer is a 2D acquisition, so dcm2niix will not reorient it for fear of impacting slice timing calculations. You can disable the rotation of 3D acquisitions with the `-x i` argument

[2021-06-28 19:42] BrunoFFPP commented on #524
Thanks for your reply.
I realize that in my sketchs A13, A21 and A32 values are sign changed, the corrected values are -1 , +1 and -1 respectively. So the correct IJKtoLPS matrix is:
0   0 -1     89
1  0   0  -125
0 -1   0   143
0  0   0       1

and as RAS system  is a rotation of 180 degree in relation of IS axis, the IJKtoRAS matrix should be:
0   0 +1     -89
-1  0   0  +125
0  -1   0  +143
0

[2021-06-28 20:54] neurolabusc commented on #524
When you permute a 3D volume to RAS space, you permute the order of the image data columns, rows, slices so that they correspond with L->R, P->A and I->S respectively. Therefore, the first voxel on disk is the LPI corner (left-most, posterior-most and inferior-most). The final column of your matrix is simply the coordinates of this voxel (the translation from origin).  In your first Figure, you wi

[2021-07-02 09:53] bhavika-g opened #525 "Unable to generate bval/bvec files"
Hi.
I'm trying to convert DICOM files to NIFTI but the conversion only yields the .nii file and the .json file, and not the .bval or .bvec file.
I've tried MRIcron, MRIcroGL and MRIConvert with no success.
I also tried to read the contents of the file through pydicom but did not find the row that should have the b-value information.
The images were acquired through Bruker BioSpec and the software

[2021-07-02 13:18] neurolabusc commented on #525
This is a limitation of the DICOM images created by [Bruker](https://github.com/rordenlab/dcm2niix/issues/265) not dcm2niix. Since these issues were first reported years ago, I would hope that they can be resolved by [upgrading your software](https://www.accela.eu/discover/paravision-7-software). I suggest you contact Bruker to resolve this issue, dcm2niix is limited to the information provided by

[2021-07-06 07:24] jeodai opened #526 "Filename custom option -f with %u, NOT working"
As the title descriped, `dcm2niix -f %f_%u ...` not working, the result filename is missing acquisition number.

And there is a warning: "Warning: Ignoring '%u' in output filename (recompile to segment by acquisition)".

Anyone knows what happened? Thank you!

[2021-07-06 11:35] neurolabusc commented on #526
This is as intended. As required by the BIDS specification, many modalities stack a range of acquisitions into a single 4D NIfTI file (e.g. fMRI/ASL time series, DTI gradient directions and b-values). Therefore, a single file contains multiple acquisition values (from DICOM tag 0020,0012).  For a minimal example, consider [this fMRI dataset](https://github.com/neurolabusc/dcm_qa/tree/master/In/Ori

[2021-07-06 11:46] #525 closed

[2021-07-06 13:50] neurolabusc commented on #524
I have created a [Github repository with all 48 permutations of orthogonal spatial rotations and flips](https://github.com/rordenlab/NIfTIspace).

[2021-07-06 13:50] #524 closed

[2021-07-07 06:30] jeodai commented on #526
Thanks for your explanation,  I see the consideration.
However I have two small problems:
1. My test dicom data has no multiple acquisition values, but it is still ignored.
2. If I want to config it to NOT ignore, do I have to compile the dcm2niix source by myself?

[2021-07-07 06:31] jeodai commented on #526
Thanks for your explanation, I see the consideration.
However I have two small problems:

My test dicom data has no multiple acquisition values, but it is still ignored.
If I want to config it to NOT ignore, do I have to compile the dcm2niix source by myself?

[2021-07-07 12:09] neurolabusc commented on #526
The development branch of dcm2niix will now allow inserting the acquisition number in the filename, though it will generate the warning:

[code]

Be aware that this value will not be meaningful for NIfTI files that contain image data from DICOMs with varying acquisition number. While this behavior is now allowed, I would advise against using the `-f %u` for DICOM to NIfTI conversion, as it was des

[2021-07-07 21:03] gaspardcereza opened #527 "Inconsistent shuffling of individual Siemens standard B1 maps depending on slice orientation"
Hi @neurolabusc and all the dcm2niix team ! I recently noticed a potential bug related to how uncombined B1 mapping dicom files are sorted in the converted nifti file.

## Some context

As part of the [shimming-toolbox](https://github.com/shimming-toolbox/shimming-toolbox) team, I am currently trying to add a B1 shimming feature to our toolbox.

In order to compute the ideal shimming weights that

[2021-07-07 21:36] KevinBerard commented on #527
Typo in **Sagittal slices (3 slices / 8 coils)** : `Here we can se that, `
Other than that, it is clear enough.

[2021-07-07 23:52] neurolabusc commented on #527
This appears to be a limitation of these DICOM images, not dcm2niix. Neither the DICOM tags nor the CSA header differentiate the coils. One expects Siemens data to distinguish information from different coils with the private DICOM tag ([0051,100f](
https://github.com/rordenlab/dcm2niix/issues/187)), however in this sample dataset all images report the same string: `1H;1H;1H;1H;1H;1H;1H;1H;1H;1H;1

[2021-07-08 01:26] jcohenadad commented on #527
Thank you for looking into this and for your insightful comments as always @neurolabusc !
Indeed, it looks like the problem has to be fixed at the source (ie: Dicom). We will explore further on the Siemens side.

Regardless this inconsistency, does `dcm2niix` support Dicom series with uncombined Tx elements (for B1+ maps)? I understand from this related issue https://github.com/rordenlab/dcm2niix/

[2021-07-08 14:19] gaspardcereza commented on #527
Thank you for the insights @neurolabusc !

Regarding your answer, another question comes to my mind:

When I visualise the DICOM files obtained with `tfl2d1_16` (Siemens' standard B1 mapping sequence) in a DICOM viewer (I tried with `RadiAnt` and `Horos`), the images are presented in the correct order (from coil 1 to 8).

Could this be simply due to the fact that this coincides with the alphabetic

[2021-07-08 18:18] BrunoFFPP commented on #524
Hi Chris,
Thanks for sharing this data. It is very helpful and now it's clear
the matrix transformation between all 48 permutations, but I still have
some doubts in relation to DICOM to NIFTI conversion.
I use HOROS to visualize my dicom data.
On HOROS, all sagittal image are displayed :
     S
A        P
      I
Coronal:
     S
R       L
      I
Axial:
     A
R       L
     P

After using dcm2nii

[2021-07-08 19:45] neurolabusc commented on #526
1. There is no convention regarding whether a sagittal slice should be shown with the anterior location on the left or right side of the computer screen. For example, with FSLeyes, the `Horizontal` view shows nose right while the `Grid` view shows the nose left. For flexibility, I would suggest [MRIcroGL](https://www.nitrc.org/plugins/mwiki/index.php/mricrogl:MainPage). The `Preferences` menu allo

[2021-07-08 21:11] neurolabusc commented on #524
1. There is no convention regarding whether sagittal images should show the Anterior anatomy on the left or right side of the display. For FSLeyes, the `horizontal` Layout shows nose right, and the `grid` layout shows nose left. With [MRIcroGL](https://www.nitrc.org/plugins/mwiki/index.php/mricrogl:MainPage) the Display menu allows you to choose between `Sagittal` and `Sagittal (nose left)`. Howev

[2021-07-09 12:15] neurolabusc commented on #527
@gaspardcereza the issue is that the NIfTI format demands that the first three dimensions be spatial. Where XYZ are the spatial dimensions and C is the Coil number, the instance number order would be XYCZ. In other words, the problem is resolved once dcm2niix is provided with some mechanism to distinguish the coils from each other. In general, dcm2niix disregards [instance number (0020,0013)](http

[2021-07-09 13:41] gaspardcereza commented on #527
Thank you for this precisions @neurolabusc. For now I will try to work with a "temporary solution" that reorders the B1 maps after loading the NIfTI. In the end, I hope Siemens will address the problem but this will probably take a while... Thanks again for the help !

[2021-07-09 13:55] #526 closed

[2021-07-09 13:55] neurolabusc commented on #527
Closing issue, please open a new issue once there is a way to identify channels.

[2021-07-09 13:56] #527 closed

[2021-07-10 22:15] ranabanik opened #528 "dcm2niix in win64 run error"
I have installed the dcm2niix in my windows station in `carotid36` py3.6 env using gitbash terminal.
`(carotid36)
ranab@banikr MINGW64 /
$ conda install -c conda-forge dcm2niix  `

Then following the instructions, I ran the following from the gitbash terminal.

[code]
I got the following error message.
[code]
I manually check the physical location in the directory and the .dicom files exist(in sli

[2021-07-11 12:41] neurolabusc commented on #528
Make sure to use quotes if your file path has spaces in it. Otherwise, command line tools will assume you are passing two arguments, not a single space-delimited argument, e.g.

[code]

You may also want to try out [MRIcroGL](https://www.nitrc.org/plugins/mwiki/index.php/mricrogl:MainPage) the Import/ConvertDICOMtoNIfTI window provides a graphical interface for dragging and dropping folders. As a

[2021-07-12 14:48] drmclem opened #529 "Image re-ordering Philips with dynamic scans"
We have a classic DICOM data set which I think has both the images is indirect order and is also a dynamic scan (something I would expect to be typical for an fmri for example), However the converted files have the slices scrambled.

Looking at the logs it would appear that re-ordering is only being applied to the conventional scans not the dynamics.

A working one ... (single scan)
[code]
Not wor

[2021-07-16 14:24] #528 closed

[2021-07-19 10:50] younghoo opened #530 "Interpretation about slice timing"
Dear expert,

After running dcm2niix, I got the JSON file and found the slice timing vector. I know the numbers means the time when the slices were acquired. My question is how to know which number corresponds to which slice?

I read the [STC Page](https://crnl.readthedocs.io/stc/index.html), and it seems that in Siemens the first slice was always acquired from the inferior to the superior (foot t

[2021-07-19 12:34] neurolabusc commented on #530
The `SliceTiming` field is in [BIDS format](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html): `The list goes through the slices along the slice axis in the slice encoding dimension`. Therefore, the values correspond to the order that the slices are stored to disk, not a spatial dimension.  For axial slices the disk order of sli

[2021-07-19 14:12] younghoo commented on #530
Thanks for your response. How can I determine whether the first value corresponds to the most inferior or the most superior slice, for instance, for axial slices? In the BIDS format, there is a `slice encoding direction` field, which, however, was not available in the JSON file created by `dcm2niix`.

[2021-07-20 01:16] younghoo commented on #530
I would like to add some further notes to give more background about my question. I am going to do slice timing correction for my fMRI data using FSL's `slicetimer` or AFNI's `3dTshift`. I would like to use the slice timing detected by `dcm2niix`, which seems more accurate than using slice order. The slice timing index corresponds to the order the slices saved into disk. For instance, the first va

[2021-07-20 10:40] neurolabusc commented on #530
You can use the BIDS `RepetitionTime` and `SliceTiming` fields to generate a FSL slicetimer [fractional `--tcustom` file](https://en.wikibooks.org/wiki/Neuroimaging_Data_Processing/Slice_Timing#FSL). This will be more accurate than an indexed order in situations where there is a temporal gap between volumes, and is intuitive for situations like multi band (where there are many ties in the rank ord

[2021-07-20 13:59] younghoo commented on #530
Thank you for very detailed reply and now I can safely use the slice timing in the JSON file. For AFNI's `3dTshift`, the slice timing could be directly fed into the command with `-tpattern @filename` option, which saves a little time.

I think the ambiguity/confusion between disk dimensions and spatial dimensions may be widespread, because I have analyzed fMRI data using AFNI/FSL (and other pipeli

[2021-07-20 14:39] neurolabusc commented on #530
Most EPI brain scans are acquired as axial slices, for these IJK corresponds to XYZ. Therefore, the confusion is typically not an issue. Be aware that `-tpattern` pre-dates multi-band: the NIfTI header does not encode the more complicated slice orders of multi band sequences. I would suggest using `-voxshift fset` as a robust solution.

While slice timing correction has proven useful (e.g. [Sladky

[2021-07-21 04:08] XYWCQM opened #531 "UIH data TotalReadoutTime calculation format adjustment"
Hello:
    Previously, when dcm2niix converted UIH data, the calculation of TotalReadoutTime was achieved by reading the AcquisitionDuration of (0065, 1029). Now we have modified its definition, so there will be problems in calculating TotalReadoutTime directly through the Tag. Therefore, when calculating TotalReadoutTime, it is hoped to calculate through effectiveEchoSpacing * (reconMatrixPE-1.0)

[2021-07-21 13:46] #530 closed

[2021-07-21 13:55] neurolabusc commented on #531
Thanks for the update.

Can you confirm that your formula fits the [BIDS specification](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html) uses the unintuitive FSL definition of `TotalReadoutTime`: “the time from the middle of the first echo to the middle of the last echo, as it would have been had partial k-space not been used”.

[2021-07-21 15:05] mharms commented on #531
It really would have been better if BIDs had named it "EffectiveTotalReadoutTime" (or something similar), since it goes along with `EffectiveEchoSpacing`.  It's easier if you think of `TotalReadoutTime` as a value that is just computed from the `EffectiveEchoSpacing` and the size of the *reconstructed* matrix in the PE direction.

Somewhat confusingly, the true physical total readout time and the

[2021-07-21 15:13] mharms commented on #531
Note that in relation to @neurolabusc's comment above that acquisition **(3)** will indeed have a shorter `TotalReadoutTime` (as defined by `dcm2niix`, BIDS, and FSL) than acqusition **(1)**, but per my comment above the `TotalReadoutTime` of acquisition (3) is basically ends up being the same as the true readout time of acquisition **(3)**.

[2021-07-22 02:29] XYWCQM commented on #531
@neurolabusc Thank you for your prompt reply，for the three points you mentioned (1) (2) (3), our understanding is the same, so you can calculate TotalReadoutTime by effectiveEchoSpacing * (reconMatrixPE-1.0)). Thank you.

[2021-07-22 14:26] neurolabusc commented on #531
@XYWCQM can you provide explicit instructions for calculating effectiveEchoSpacing from UIH equipment. Siemens use private tags 0019,1028 and 0021,1153 for BandwidthPerPixelPhaseEncode. GE uses the private tag 0043,102C for effective echo spacing.  Should one use the PixelBandwidth (0018,0095) public tag?

For example, can you provide the formula we should use for [this example UIH sequence](https

[2021-07-23 03:21] XYWCQM commented on #531
@neurolabusc UIH also use tags 0019,1028 for BandwidthPerPixelPhaseEncode, so you can use this tag to calculate effectiveEchoSpacing. Currently dcm2niix has been able to parse out effectiveEchoSpacing from UIH data. Thank you.
![image](https://user-images.githubusercontent.com/49193137/126734025-572c5d19-e10c-468b-a095-4cc8b7d6f2ae.png)

[2021-07-23 11:29] neurolabusc commented on #531
None of the exemplars at [dcm_qa_uih](https://github.com/neurolabusc/dcm_qa_uih) include private tag 0019,1028. Is it possible to create a public example dataset that demonstrates this tag that could be included with the dcm_qa_uih repository? I do not like adding private tags without a concrete example.

[2021-07-24 04:15] XYWCQM commented on #531
@neurolabusc Attached is the sample dicom I provided, you can verify it through the image, thank you.
[example_data.zip](https://github.com/rordenlab/dcm2niix/files/6871880/example_data.zip)

[2021-07-24 13:11] neurolabusc commented on #531
@XYWCQM can you test the latest commit to the development branch (v1.0.20210724). It will use 0019,1028 for UIH scans where provided. If 0019,1028 is not present, it will fall back to the prior method. Please close this issue if this resolves your issue.

[2021-07-27 03:17] XYWCQM commented on #531
@neurolabusc I now have the code of the development branch (v1.0.20210724), but the compilation fails, so I cannot verify the result.
![image](https://user-images.githubusercontent.com/49193137/127089849-63bf377f-0b3c-49f5-b533-506e31f0147d.png)

[2021-07-27 11:36] neurolabusc commented on #531
I can not replicate your issue, the following cmake commands successfully complete:

[code]

The minimal `make` also works:

[code]

Perhaps you could provide information about your operating system (e.g. macOS 11.4, Windows 10, Linux Ubuntu 20.04). @ningfei is great at trouble shooting installation issues.

[2021-07-28 05:42] XYWCQM commented on #531
@neurolabusc @ningfei I tried again according to your order, but the same error was reported. Below is the information of my system. Or is it convenient for you to test the compiled program for me?
![image](https://user-images.githubusercontent.com/49193137/127269633-86b279ae-6a7e-491e-bf04-25f7c37238ed.png)

[2021-07-28 21:33] ningfei commented on #531
The above compiling issue was introduced in 1de5e5b. There `#include "tinydir.h"` was moved after `#include "nifti1_io_core.h"` in `nii_dicom_batch.cpp`. This causes the conflict.
- `dirent.h` is included in `tinydir.h`. In most of Ubuntu and CentOS releases (not ancient ones), `DT_UNKNOWN` is defined like [this](https://github.com/lattera/glibc/blob/master/dirent/dirent.h#L95-L117). That's why `u

[2021-07-28 22:53] neurolabusc commented on #531
@ningfei I am really impressed you spotted this and the origin of the issue. My [kludge](https://github.com/rordenlab/dcm2niix/commit/21e9030327ec64ff63d83e13e569752bb4472e7b) was to simply remove the definition of DT_UNKNOWN, as it is never used in dcm2niix. It was simply copied over from the original [nifti1.h](https://nifti.nimh.nih.gov/pub/dist/src/niftilib/nifti1.h). Your detective work expla

[2021-07-29 02:04] XYWCQM commented on #531
@neurolabusc @ningfei Thank you both for your prompt reply, now it can be compiled and passed. @neurolabusc In addition, the calculation result of TotalReadoutTime has also been verified, thank you again.

[2021-07-29 05:51] ningfei commented on #531
Conflict of definition fixed in  358fb90

[2021-07-29 05:51] #531 closed

[2021-07-29 12:42] neurolabusc commented on #529
Closing this issue as I do not have any access to a sample dataset that exhibits this issue. Either someone needs to validate a solution and provide a pull request, or I need to be provided with a sample dataset that exhibits this issue.

As an aside, while dcm2niix should handle these situations, Philips equipment should generate images in an order that is meaningful (e.g. sequential instances ar

[2021-07-29 15:36] baxpr commented on #529
@neurolabusc I have emailed you an example of what is possibly the same problem - an fMRI where the slices are getting mis-sorted by v1.0.20210317. There is no relationship between InstanceNumber and slice position or TemporalPositionIdentifier in the DICOM files, which I gather might be the underlying issue.

These classic frames were exported on the scanner using a python interface to the DICOM

[2021-07-29 19:18] neurolabusc commented on #529
@baxpr your issue seems different, but is indicative of how Philips assigns instance numbers with no rationale. My kludge generates an instance number based on three private Philips tags.

A sensible formula would be:
[code]
However, your does not follow a logical pattern, and indeed uses a different pattern for each value. You can see this by running the development branch of dcm2niix in verbose

[2021-07-30 08:59] drmclem commented on #529
Hi

The instances of data that have been produced which show have been obtained from a research interface into the patient database and so is not widespread but is being relaunched as a research tool for our users (PRIDE 2.0 is our reference to it) and allows software to directly communicate to the scanner interface and obtain images for processing. The standard DICOM export does present them diff

[2021-07-30 11:21] neurolabusc commented on #529
@drmclem here are four objective criteria that suggest disarray to me:
 1. Bloat of redundant data in Philips enhanced DICOMs that impact disk usage and read performance (compare to Siemens and Canon implementations).
 2. [Missing information](https://github.com/rordenlab/dcm2niix/tree/master/Philips#Missing) to replicate sequences or analyze data
 3. Jumbled order of instance number used by most

[2021-07-30 12:15] drmclem commented on #529
Hi

I think part of the problem is that there as aspects of DICOM which are not fully defined, and certainly public tags we are incorporating as we move forward in software releases and any errors in those we will fix as we move forward (4) - we are looking how best to populate the defined timing blocks in the light of multiband sequences and the like.

I would also argue that using the instance n

[2021-07-30 12:24] drmclem commented on #529
Hi @baxpr - any chance you could share the dataset with me so I can have a look at it and compare the dataset which started this convo ?

[2021-07-30 12:24] neurolabusc commented on #529
Your comment regarding Siemens actually supports my point. Note the move from the proprietary CSA header in the V* systems (Trio, Prisma) to public tags in the XA systems (Vida, Sola). Between XA10 and XA11 there was a constructive dialog with users regarding the meta data that would allow replication and comprehensive analysis.

[2021-07-30 13:44] baxpr commented on #529
Thanks y'all - really appreciating this discussion which I'm learning a lot from. @drmclem I have sent you the images as well. The spatial and temporal ordering can be reconstructed from ImagePositionPatient and TemporalPositionIdentifier, but I gather the assumptions that dcm2niix usually makes for Philips images are not met.

[2021-07-30 20:49] baxpr commented on #529
<summary>fwiw I banged out some python code to rewrite instance numbers so that dcm2niix can handle the DICOMs we have:</summary>

[code]

</details>

[2021-07-30 21:51] captainnova commented on #529
Hi,
I've been following this as someone involved in several multicenter research studies, and hate to pile on Philips with a me too, but I agree with the points Chris enumerated.

1. I think this refers to the repetition of settings that could theoretically change from frame to frame, but in practice never do. As far as I am aware there is nothing in the scanner console interface that would let us

[2021-07-31 14:39] neurolabusc commented on #529
@baxpr and @captainnova do you want to try out the latest commit? It attempts to generalize @baxpr Python code (which was not designed for diffusion data). Here are details regarding the implementation and the implications:

 1. Volume number is derived from largest value of the following DICOM tags: TemporalPosition (0020,0100), GradientOrientationNumber (2005,1413), or VolumeNumber (2005,1063).

[2021-07-31 15:07] baxpr commented on #529
Thanks! Yes, that works for my test fmri.

@neurolabusc I've sent you a diffusion scan that might help. We quit making assumptions about ordering of diffusion volumes in the niftis a couple years ago due to these issues. Philips does not permit multiple b=0 to be specified, as far as I know - the data set I just sent you is how we have worked around that using a negligible b value and some arbitra

[2021-08-01 21:43] captainnova commented on #529
Unfortunately it broke diffusion. A scan with 1 b=0 followed by 32 b=999, and an apparent ADC probably at the end came out with the b=0 volume distributed among the b=999 volumes 2 slices at a time, i.e. 2 of the slices were replaced by the b=0 slices of the correct z. The bumped slices were placed at the highest z.

The "ADC" file is mostly the average of the b=999 volumes (which is normal - it w

[2021-08-01 21:46] captainnova commented on #529
I should have given the dim field from the nii header:
`  regular               38      1    r
  dim_info              39      1    57
  dim                   40      8    4 176 176 60 33 1 1 1
  srow_x               280      4    -1.363636 0.0 -0.0 120.572365
  srow_y               296      4    -0.0 1.363636 -0.0 -96.28479
  srow_z               312      4    0.0 0.0 2.699997 -76.36232
`
But aga

[2021-08-01 21:53] captainnova commented on #529
Good news - enhanced DICOM (but a different scan, that really is ORIGINAL data) seems to be unharmed. The other series had been unenhanced with dcuncat.

[2021-08-03 12:40] neurolabusc commented on #529
@captainnova
 - the development branch only changes the sorting of classic DICOM. For enhanced DICOMs, will use the public tag [Dimension Index Values (0020,9157)](http://dicomlookup.com/lookup.asp?sw=Tnumber&q=(0020,9157)). Unfortunately, Philips does not provide this public tag for their classic DICOM images, so we need to develop an alternative heuristic.
 - From your email, the problematic ima

[2021-08-04 11:55] neurolabusc commented on #271
Just a comment that the current  stable release (v1.0.20210317) will often generate false alarms that refer to this issue: `Adjusting for negative MosaicRefAcqTimes (issue 271)`. This is [resolved](https://github.com/rordenlab/dcm2niix/commit/7038255816fe606865fd624a687bcf5dc0eb88a5) in the development branch and will be fixed in the Fall 2021 stable release. This warning has caused warnings ([her

[2021-08-04 16:23] neurolabusc commented on #408
As a note for @drmclem's comment from Aug 12, 2020, Philips ASL scans

[code]
so 2001,1010 is not sufficient to determine if a scan is not sufficient to determine if a Philips scan is using Cardiac Sync.

[2021-08-05 09:57] tomaroberts commented on #529
Hi all,

I'm the researcher who has been working with @drmclem, whose DICOM data set triggered this issue. I've caught up with the thread this morning.

I've just cloned and run the development branch of dcm2niix following the adjustments by @neurolabusc.

Can confirm that it has fixed the issue for our DICOMs. So, thank you very much @neurolabusc for the fix and @baxpr for your initial Python imp

[2021-08-05 18:55] neurolabusc commented on #529
Paul Morgan at Nottingham University has provided images for a new validation repository [dcm_qa_philips_asl](https://github.com/neurolabusc/dcm_qa_philips_asl). Paul provided both the enhanced and classic images, but the combined set seems to overwhelm Github, so this repository is only the classic images. I have updated dcm2niix to handle these images. This should now deal with diffusion, ASL an

[2021-08-11 21:19] neurolabusc opened #532 "GE ABCD epi_pepolar sequence"
This issue describes the `epi_pepolar` GE ABCD WIP (work in progress) sequence designed for acquiring data for [FSL TOPUP](https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/topup). TOPUP undistorted EPI images by using a pair of spin-echo series that are identical except for the phase encoding polarity. For example, both an anterior-to-posterior and posterior-to-anterior EPI sequence will exhibit nonlinear s

[2021-08-13 22:05] captainnova commented on #529
I no longer think dcuncat is the likely reason why the development version of dcm2niix missorts the slices in some of our test dMRI series. The affected series are from Philips 2, 3, and 4 software, and have been through at least one deidentification step (dcanon by me, and possibly others before they were sent to our lab), and I have lost track of whether the scanner stored them in classic or enh

[2021-08-14 13:10] neurolabusc commented on #532
The latest commit to the development branch (v1.0.202100814) comprehensively fixes this issue. I am grateful to Scott Peltier and Krisanne Litinas for providing an open source validation dataset that illustrates all possible modes:  [dcm_qa_polar](https://github.com/neurolabusc/dcm_qa_polar).

[2021-08-14 13:10] #532 closed

[2021-08-14 15:27] xiangruili commented on #532
@neurolabusc
I may miss something on this topic, but I agree with your original thought that any fix we apply for this may have unexpected consequence.

1. It is okay to save AP/PA into one series per DICOM standard, although it is unfortunate practically.
2. It is a HUGE MISTAKE per DICOM standard with wrong ImageOrientationPatient.

Given #2, DICOM tools in medical field will interpret the image

[2021-08-14 15:31] neurolabusc commented on #532
I entirely agree with you. Pragmatically, I decided to support this sequence because it has achieved widespread adoption, and it seems easiest to identify and fix the issue once at the DICOM to NIfTI stage. However,  the risk of unintended consequences is real, and I may live to regret this decision. Your view is completely justified.

[2021-08-17 13:21] neurolabusc commented on #532
This issue is closed. All future releases will handle these unusual images. For any pipelines that expect the old behavior, or wish to match the canonical behavior of @xiangruili's dicm2nii, dcm2niix can be compiled without this kludge. This option also provides a mechanism to trouble shoot any unintended consequences of the kludge:

[code]

[2021-08-17 16:00] neurolabusc opened #533 "Philips ASL volume order"
This is consequence of [issue 529](https://github.com/rordenlab/dcm2niix/issues/529) where we never trust instance number (0020,0013) for Philips DICOM images (as they are sometimes assigned randomly rather than matching temporal order. We must therefore decide how volumes should be ordered for ASL data.

For this issue, consider the identical Philips data exported as both classic and enhanced DIC

[2021-08-17 16:03] neurolabusc commented on #529
I am closing this issue. The current development version comprehensively addresses this issue. In cases where all the useful tags are stripped the algorithm resorts to assuming that the instance number is truthful, resolving the regression for the (over aggressively) anonymized data from @captainnova .

However, this fixes raises deeper concerns regarding how Philips ASL volumes should be ordered.

[2021-08-17 16:07] #529 closed

[2021-08-17 17:14] neurolabusc commented on #533
@drmclem how can one infer if a sequence starts with a control or label volume? I note that label and control images for a given phase and repeat share identical AcquisitionTime (0008,0018), Trigger Time (0018,1060,) MRImageDynamicScanBeginTime (2005,10a0) and TemporalPositionIdentifier (0020,0100). In the sample dataset, the control image gets a lower instance number, but we know that the DICOM s

[2021-08-18 15:22] captainnova commented on #533
I think temporal order is typically preferable for people doing offline corrections for things like head motion or gain drift, especially if some sort of regularization is involved. However, I understand that any reordering would be on a best effort basis. Although BEP005 does not mention BIDS fields for giving the labeling, phase, and repeat order, it probably should. My perspective comes from dM

[2021-08-19 14:07] neurolabusc commented on #533
@captainnova the latest development commit (v1.0.20210819) attempts to store Philips ASL volumes in temporal order, regardless of whether they are classic or enhanced DICOMs. For classic DICOMs, the instance number is ignored (though for the samples I have seen, instance number was consistent with temporal order).

There are some caveats, as noted above it is unclear if Philips ASL scans always st

[2021-08-19 14:29] neurolabusc opened #534 "dcm2niix Fall 2021 Release Candidate"
dcm2niix v1.0.20210819 from the development branch is the release candidate for the Fall 2021 stable release. I would appreciate feedback, in particular from teams with large and diverse datasets. Notable changes include:

 - Kludge for incorrect spatial coding of [GE ABCD epipolar](https://github.com/rordenlab/dcm2niix/issues/532) sequence.
 - Better handling of Philips enhanced DICOMs with [huge

[2021-08-19 14:57] neurolabusc commented on #506
@bthyreau can I suggest you close this issue, these sequences are handled in the upcoming dcm2niix release.

[2021-08-19 17:43] matthew-brett commented on #533
Sorry to [shoot from the hip](http://abesguncave.com/wyatt-earp-on-gunfighting-interview) here, but - is the idea that the user of a Philips converted Nifti image for ASL should be able to assume that the volumes are in temporal order?  To what extent is true for other manufacturers and modalities?

[2021-08-19 19:17] neurolabusc commented on #533
@matthew-brett the challenge is the Philips instance numbers are often ordered randomly (presumably reflecting the order images return from a random parallel reconstruction system rather than the order of acquisition). For enhanced DICOMs, one traditionally relies on  Dimension Index Values (0020,9157) to sort the volumes, but with Philips the dimension order does not correspond with temporal orde

[2021-08-19 20:41] captainnova commented on #533
It now passes the test suite here, thanks, which means that the output ordering is again the same as it was with dcm2niix 20180826 and surrounding pipelines should not need to change.

To get a better sense of actual correctness as opposed to just relative correctness I tried the region method you described with MRIcroGL, but the perfusion signal is very weak in the Philips 4 scan I happened to ha

[2021-08-19 21:58] neurolabusc commented on #533
@captainnova thanks for checking. To be explicit, the current version provides the same results as classic Philips DICOM where instance numbers follow a logical S <P < CL < R slice ordering. The results of the latest version are different than prior versions that were legacy DICOM with jumbled instance numbers and enhanced DICOM. The new version will consistently generate S <P < CL < R slice order

[2021-08-20 16:08] matthew-brett commented on #533
Thanks for the more detailed explanation.  What I was getting at is - how do you decide in general, what order to return the images?   For example, in this case, I think what you are saying is that it is possible to work out the temporal order, and therefore it is useful to return them in this order.   But I guess that the user has to know that is the order, for this sequence, before using the ord

[2021-08-22 12:42] neurolabusc commented on #533
@matthew-brett For other vendors, the order specified by the DICOM instance number (classic DICOM) or Dimension Index Values (for enhanced DICOMs) is used. These seem to always match temporal order, with the possible exception of the multi-PLD [Siemens research ASL sequence](https://github.com/neurolabusc/dcm_qa_asl). For these vendors, I think all conversion tools handle the data consistently, an

[2021-08-30 11:26] ghisvail opened #535 "Option to overwrite existing files instead"
In the context of the Clinica project, we have been struck with a [bug](https://github.com/aramis-lab/clinica/issues/396) where the expected stem of the target files (specified by `-f`) is modified by `dcm2niix` to avoid name collisions if a file with the very same stem already exists in the output folder (specified by `-o`).

For instance, say we are doing BIDS conversion for a T1w scan, `dcm2nii

[2021-08-30 11:37] ghisvail commented on #535
My bad I did not see the `-w` flag 🤦

[2021-08-30 11:37] #535 closed

[2021-09-03 08:52] ccn30 opened #536 "converting mp2rage INV/INV2/UNI images"
**Describe the bug**

Many thanks for this amazing software! Head's up I'm not an expert in neuroimaging. This isn't a bug but something I'm stuck with.

I need to perform MP2RAGE reconstruction using separate INV1,INV2 and UNI images with the RobustCombination().m function from https://github.com/JosePMarques/MP2RAGE-related-scripts

For each image series per INV1/2/UNI, dcm2niix does not convert

[2021-09-03 16:32] neurolabusc commented on #536
This is an issue with your dataset, not dcm2niix. You can see the issue by viewing the DICOMs with a dedicated DICOM viewing tool like [Hotos](https://horosproject.org). For example, if you view sequential slices of the series `Series_007_MP2RAGE_0.7_INV2` you will notice that most of the 224 slices are magnitude maps, but some are clearly phase maps (instance numbers 83, 130, 176, 190, 221).

You

[2021-09-03 17:33] neurolabusc commented on #535
As you note, the `-w` option allows you to skip or overwrite duplicates. Likewise, the `--terse` option [will omit image disambiguation post-fixes](https://github.com/rordenlab/dcm2niix/blob/master/FILENAMING.md). These options are available for advanced users. Just be aware that some series will generate different images that can not be saved as a single NIfTI image, and the intention of dcm2niix

[2021-09-07 04:22] mujinbao opened #537 "When I convert DWI dicoms, the dimension is wrong"
Dear author, hello
As you know, usually the DWI sequence contains twice the number of others (such as T1), because it contains two sets of pictures under b0 and b1000, so when I used the tool to convert, it was originally 40 slices, but after the conversion was completed Got a nii with 20 slices
I feel that because the heights of the two groups of images under the b value are the same, I only chos

[2021-09-07 11:15] neurolabusc commented on #537
@mujinbao I am unable to provide a diagnosis based on the information you have provided. Feel free to share a dataset with me by sending a DropBox/GoogleDrive link to my email address (in my avatar).

Raw diffusion data for DTI analyses should have at least 6 directions, so it should generate a 4D image with at least 7 volumes (as it includes the b=0 volume). For some derived DWI data, a single se

[2021-09-08 18:01] josephmje opened #538 "Missing JSON headers after Siemens software upgrade to XA30"
**Describe the bug**

After the upgrade, some metadata in the JSON headers are missing:
DwellTime
SequenceName -> changed to PulseSequenceName in DICOM
BaseResolution
ConsistencyInfo
PhaseResolution
ReceiveCoilName
ScanningSequence
PhaseEncodingSteps
PulseSequenceDetails
InversionTime -> changed to InversionTimes in DICOM
RefLinesPE
VendorReportedEchoSpacing
DiffusionScheme
Interpolation2D

**Vers

[2021-09-08 18:27] neurolabusc commented on #538
Can you upload two complete JSON text files - one prior to the upgrade and one after the upgrade. Was the site upgraded from a V* generation (e.g. VE11) to an X* generation (e.g. XA30)? The X* generation does not have a [CSA header](https://nipy.org/nibabel/dicom/siemens_csa.html) which contains a lot of meta data.

[2021-09-09 11:19] #536 closed

[2021-09-09 13:30] neurolabusc commented on #534
@ghisvail I note that you are listed as the [Debian maintainer for dcm2niix](https://packages.debian.org/source/bullseye/dcm2niix). Is there anything I can do to aid this release? I  release new versions twice per year (Fall, Spring) and the current stable Debian release `bullseye` uses an older release (1.0.20201102-1). It would be great if we could keep this current, as the advent of Siemens and

[2021-09-09 13:42] ghisvail commented on #534
Hey Chris,

I know, since I got back to research only recently I have got some catching up to do. I'll find some time to get it updated for the next Ubuntu LTS and Debian cycles.

I see the package is still under maintenance by Michael and Yaroslav. If they are no longer active on it I suppose I *could* step up assuming it's in an acceptable state.

I agree. The door is open, anyone can contribute

[2021-09-09 14:12] josephmje commented on #538
Thank you for looking into this @neurolabusc. Yes, the site was upgraded from VE11 to XA30.

I've uploaded a zip with JSON files for a few of the different sequences pre- and post-scanner upgrade.

[XA30_upgrade.zip](https://github.com/rordenlab/dcm2niix/files/7137212/XA30_upgrade.zip)

[2021-09-09 14:13] neurolabusc commented on #534
@ghisvail this is great. As an aside, Yaroslav (@yarikoptic) and Michael (@mih) mentioned that they handed over maintenance to the debian-med team (which still includes them, albeit to a much smaller degree). If you agree, I think you would be ideally positioned to take the lead as maintainer for these projects.

- dcm2niix is a very simple single file command line executable. The only option is w

[2021-09-09 14:30] neurolabusc commented on #538
Wow, I have never seen data from a Prisma upgraded to XA30. Historically, the Siemens, Trio, Allegra, etc. were all V* systems (e.g. VB13, VB15...VE11), while the X* systems were both new hardware (Sola and Vida) as well as software. The X series moves from classic DICOM to a very lean enhanced DICOM. The original XA10 was perhaps **too** lean. But thanks to a good dialog with the Siemens engineer

[2021-09-09 14:32] ghisvail commented on #534
I am not too worried about `dcm2niix`. It's pretty packaging friendly. We'd have to check whether the manpages are up-to-date though.

Regarding `MRIcron` and `MRIcroGL` both are using the Pascal toolchain which I am not familiar with at all. Correct me if I am wrong.

Correct

Basically all architecture-independent artifacts (support scripts, atlases, static resources...) goes to `/usr/share/micr

[2021-09-09 14:37] ghisvail commented on #534
Correct

This is the old path. Nowadays, it's under `/usr/share/icons/hicolor/scalable/apps/`.

Also, you might want to generate a [appstream](https://freedesktop.org/software/appstream/docs/sect-Metadata-Application.html) metadata file for easier discovery in software stores.

[2021-09-09 14:56] neurolabusc commented on #534
@ghisvail with regards to the `python37` folder, these are the standard libraries for the version of Python embedded into the executable. These are all python scripts, so I believe they are architecture independent (you can run the same script on ARM or Intel CPUs), though they are not system independent (in my experience, they are incompatible between Windows and Unix).

MRIcroGL uses Python for

[2021-09-09 15:04] yarikoptic commented on #534
FWIW: we are also part of the debian-med team.  It was not "handed over", but rather due to our delay with upload to Debian proper, packaging was redone (independently and differently), so we ended up with 2 packaging(s)., and we never aligned.  I was given a "go" by original maintainer within debian-med team to just proceed with taking over (aligning) with packaging in debian-med, but I have neve

[2021-09-09 15:07] ghisvail commented on #534
Then they could go in the data package.

Is that similar to how FSL works? Anyway, embedding the interpreter is gonna be a tough sell for the Debian reviewers. I understand the rationales for it, though python 3.7 will be removed from the archive at some point and then...?

Could it work with the system packaged interpreter instead of the embedded one?

Nothing against it, if it works and the tool

[2021-09-09 15:11] ghisvail commented on #534
Thanks @yarikoptic for clarifying. NeuroDebian does not operate under the same constraints as Debian-Med does, i.e. we must obey rigorously the Debian packaging standards, whilst ND has got more freedom to package things how they want. I am not surprised some things diverged, and it's absolutely fine.

[2021-09-09 15:12] neurolabusc commented on #538
Why don't you work with your Siemens Research Collaboration Manager to see if the values you are interested in can be derived from the XA data. If so, feel free to send me a sample dataset with known values and the formula used (e.g. which DICOM tags are required).

The TotalReadoutTime, EchoSpacing, DwellTime is a little confusing as FSL (and subsequently BIDS) use a very unintuitive definition f

[2021-09-09 15:22] neurolabusc commented on #534
@ghisvail at compile time, you can choose to have mricrogl use the system installed Python. In my experience, a lot of supercomputer clusters use very old Linux distributions that still use Python 2.7, using the embedded Python helps ensure all MRIcroGL users have a consistent (and relatively modern) Python interpreter.

@ghisvail and @yarikoptic I appreciate your collective wisdom. The spark that

[2021-09-09 15:35] yarikoptic commented on #534
not really AFAIK. As with Debian, a released version of the distribution is "frozen" in terms of accepting new upstream versions. After all it is stable or LTS for a reason -- to provide a stable system, and regardless of upstream's opinion on either a new version is stable -- it was not as well tested on that system etc.  As a result, only dedicated (usually fixing security of very important func

[2021-09-09 15:35] ghisvail commented on #534
That's what Anaconda or Pyenv is for. The system Python interpreter you get is here to support *existing* packages requiring the Python runtime. If you ship a package for MRIcroGL version X with Python version Y for Debian 12, you are guaranteed both will work together in tandem for the length of the support window.

Server distros only provide security updates, period.

Users who need more freque

[2021-09-09 15:39] ghisvail commented on #534
My bad I forgot to include NeuroDebian in the alternative distribution channels. @yarikoptic summarized well where the value proposition for ND stands.

[2021-09-09 15:44] ghisvail commented on #534
Technically you can via the backports Debian channel, but 1) it's not enabled by default, 2) Academic IT rarely allows it, 3) It's additional burden for an already limited maintenance workforce. I can count on it for things like nvidia drivers, kernel and mesa updates, for the rest I believe there are better distribution channels.

[2021-09-09 16:34] josephmje commented on #538
Will do! Thank you for linking all of these resources.

[2021-09-10 14:29] #538 closed

[2021-09-10 14:30] neurolabusc commented on #537
Closing underspecified issue. Perhaps data is derived diffusion parameters (e.g. Trace, ADC) not raw diffusion data.

[2021-09-10 14:30] #537 closed

[2021-09-10 20:20] dlevitas opened #539 "Unable to equalize slice distances: slice order not consistently ascending"
I'm converting an ADNI subject and noticed this message:

[code]

dcm2niix still generates the NIfTI and corresponding json files; however, I'm unsure how serious this message is.

Using ```Chris Rorden's dcm2niiX version v1.0.20210317  (JP2:OpenJPEG) GCC7.3.0 x86-64 (64-bit Linux)```

When I isolate the specific DICOMS (shared on google drive), I get an additional error message:

[code]
Based on

[2021-09-11 00:36] neurolabusc commented on #539
Instance number 27 is missing from this series. The error message was confusing, as dcm2niix attempts to rotate 3D volumes before attempting to correct for variable slice instances. I have submitted a kludge to the development branch which should handle this.

The ADNI dataset is a treasure trove, but it is poorly curated, as documented [here](https://github.com/aramis-lab/clinica/issues/394) and

[2021-09-11 01:21] dlevitas commented on #539
Ah okay, thanks for this! The context for this question comes from[this post](https://github.com/brainlife/ezbids/issues/29), where we've been trying to reverse engineer the same error. This clarifies things nicely.

[2021-09-11 01:21] #539 closed

[2021-09-13 15:57] neurolabusc commented on #534
@ghisvail I am happy to make a first pass at creating Debian packages. It sounds like the recommended way to provide upgrades to Ubuntu LTS is via `snaps`. Do you have any experience or thoughts about these?

 packages on top of Ubuntu.  This option would enable you as an upstream to
 directly manage packages for your software and upload it to the Snap
 Store, without any Ubuntu Developer intermed

[2021-09-13 16:18] ghisvail commented on #534
I don't. Snap is technology led by Canonical for Canonical, so there is little incentive for a Debian maintainer to invest time in it. If all you care is Ubuntu, it should be fine I guess.

For third-party desktop application packaging, I personally favor [Flatpak](https://wiki.debian.org/FlatPak), with which I have built a reasonable experience now.

In my opinion, pick one (or each) of those, se

[2021-09-13 16:47] yarikoptic commented on #534
wouldn't it be better just to stay with NeuroDebian builds?   I think I am quite rapidly up to date there.

[2021-09-13 16:57] neurolabusc commented on #534
@yarikoptic I will take you up on that offer! Sticking with .deb files seems easier. I was simply quoting an Ubuntu developer on their advocacy for `snaps`. However, it sounds like this would only help users with a single distribution, which does not sound like a great long term solution. NeuroDebian has proven to be a terrific resource for our community. I was just exploring other options where I

[2021-09-13 16:59] ghisvail commented on #534
:100:

[2021-09-16 14:46] neurolabusc opened #542 "Anonymization removes GE diffusion gradient directions."
This issue describes a problem [described in depth here](https://neurostars.org/t/dcm2bids-after-conversion-to-bids-bvals-are-zeros/20198/14).

Based on data from two different studies conducted at independent centers, it appears the some versions of the [DICOMAnonymizerPro](https://www.neologica.it/eng/Products/DICOMAnonymizerPro) zero the DICOM tags 0019,10bb, 0019,10bc and 0019,10bd. These tags

[2021-09-16 17:25] dlevitas opened #543 "Acceptable EchoTime measurement error"
This is more of a conceptual question and doesn't directly pertain to dcm2niix, so apologizes if this is an inappropriately placed post.

I was examining the metadata of three ADNI subjects, and noticed a slight difference in the EchoTime of one of them. The values are:

[code]

These acquisitions (`Axial fcMRI (EYES OPEN`) comes from 3 separate subjects scanned at the same institution, on the sam

[2021-09-16 17:53] neurolabusc commented on #543
Short Answer:

I do think the tiny effects you see are negligible. I am not sure your example means that the echo times were really slightly different (e.g. due to different slice angulation) or this reflects a rounding error. I would ignore this, and if you have scripts looking at data consistency, consider adding a tolerance

Long Answer:

As [Kernighan and Plauger](https://www.amazon.com/Elemen

[2021-09-16 18:10] #542 closed

[2021-09-16 18:44] dlevitas commented on #543
Makes sense, thanks for the detailed explanation.

[2021-09-16 18:44] #543 closed

[2021-09-22 17:34] captainnova commented on #534
Hi, I tested the candidate with our test suite and it passed with flying colors. The test suite was not updated, so it is a test that nothing broke in the bread-and-butter section, not of the new features.

[2021-09-22 18:13] mr-jaemin commented on #532
I have summarized this issue here with an illustrative example:
[ABCD_epi_pepolar.pdf](https://github.com/rordenlab/dcm2niix/files/7212901/ABCD_epi_pepolar.pdf)

![Slide1](https://user-images.githubusercontent.com/72111485/134398483-51f8a491-1da7-43a1-a05e-531c08b75209.png)
![Slide2](https://user-images.githubusercontent.com/72111485/134398497-88e2cbe5-a496-48cd-a449-1d730aa46d19.png)

[2021-09-27 16:09] captainnova commented on #539
Hello @dlevitas , you probably already saw this on the ezbids forum, but it is worth posting on the forums of other software that is commonly used to convert ADNI data:

ADNI related questions are welcome at http://adni.loni.usc.edu/support/experts-knowledge-base/ask-experts/ , where questions are forwarded to the appropriate experts according to their category. In particular, we would like to be

[2021-09-28 16:40] neurolabusc opened #544 "Slice timing for GE HyperBand"
When acquiring multi-band data it is advisable to ensuring that dividing the number of slices by multi band fact results in an odd number (e.g. for MB=4, one should acquire 36 slices rather than 32 or 40). For details, see notes by [Ben Inglis](https://osf.io/q4d53/wiki/home/) (see also Figure 3 of [PMID: 26308571](https://www.ncbi.nlm.nih.gov/pubmed/26308571)). GE implements clever tricks to pres

[2021-09-29 02:49] psadil opened #546 "incorrect pixdim3 in nifti header for philips dwi data"
**Describe the issue**

The release candidate constructs Philips DWI images strangely, but not previous stable version. It seems to be estimating pixdim3 incorrectly.

**To reproduce**

1. build from master (e973e0ff5ba5ddde73bb2b95088a9fadc2f4997b) and development (001336fbf7c860bfa6d5fc175f5494b78a232edc) with `cmake`

[code]

2. run `dcm2niix` `v1.0.20210317` and `v1.0.20210928 `
3. check outpu

[2021-09-29 06:36] neurolabusc commented on #546
Please provide exemplar
data, e.g. link to zip archive of DICOMs sent to email address in my avatar.

[2021-09-29 11:20] #544 closed

[2021-09-29 12:22] psadil commented on #546
Great, thanks. I sent an email linking to the data.

[2021-09-29 20:53] neurolabusc commented on #546
@psadil I have never seen a Philips classic DICOM like this.

1. The stable release of dcm2niix v1.0.20210317 assumes that instance number is meaningful, storing slices as XYZT or XYTZ. However, the DICOM standard does not require instance numbers to be sequential, meaningful or even unique. In practice, some Philips systems assign instance numbers in an order that does not correspond to slice [or

[2021-09-30 16:45] captainnova commented on #546
Ha, I would say I am more of a world follower. But this did pique my interest and I do have lots of opinions and questions.

Since gradient cooling is apparently a big problem for wide-bore dMRI, I would not be surprised if Philips added an option to switch the b vectors between successive slices, as GE has already done. In that case each volume would have several GradientOrientationNumbers, and e

[2021-09-30 19:19] dlevitas opened #547 "Potential Enhancement: include entity index value as metadata field?"
As of [BIDS Specification 1.6.0](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html), there are several entity labels ( besides `run`) that require a nonnegative integer index value: `echo`, `inv`, and `flip`.

For multiecho data, dcm2niix provides both the EchoTime and EchoNumber metadata fields. I'm curious whether this same log

[2021-09-30 20:12] neurolabusc commented on #547
I think if a user wants to see these features implemented, they should provide an open dataset that illustrates the features, similar to all the existing dcm_qa* regression datasets. For example, [dcm_qa_stc](https://github.com/neurolabusc/dcm_qa_stc) demonstrates how to extract the BIDS slice timing parameters from GE scanners. These validation datasets illustrate that the definitive DICOM tags,

[2021-09-30 20:48] dlevitas commented on #547
Understandable. I forgot to check whether a DICOM tag with InversionNumber exists (there doesn't appear to be). DICOM tag 0018 0086 provides the EchoNumber, which I suppose is why it's contained in the metadata.

If anything changes, I'll reopen this issue.

[2021-09-30 20:48] #547 closed

[2021-10-01 03:20] psadil commented on #546
@captainnova Thanks for the insight! For this participant, it may be possible to get the enhanced DICOM version, though it isn't guaranteed. Unfortunately, for the rest of the data enhanced versions will not be available. But please let me know if the enhanced version of this example would help, e.g., validate a patch.

[2021-10-01 10:05] neurolabusc commented on #546
@psadil seeing a single example of a scan with this setup in both classic and enhanced would help.

[2021-10-01 18:59] psadil commented on #546
@neurolabusc, okay. I'll check and will report back when I know whether a scan in both classic and enhanced versions could be available

[2021-10-05 13:26] neurolabusc commented on #546
@psadil and @captainnova I am now ready to close this issue. For the Fall 2021 release, Philips enhanced DICOM diffusion volumes will be sorted as instructed by the Dimension Index Values (0020,9157). On the other hand,  for classic DICOMs, volumes with identical b-value index (2005,1412) will be stored sequentially, with ties sorted based on gradient direction number (2005,1413). This order shoul

[2021-10-05 13:26] #546 closed

[2021-10-06 15:59] rhedouin opened #550 "Mosaic"
Hello,
I have a problem [issue #369 about mosaic image], (I also posted there before to see that it was closed, sorry for the duplicate). I tried your solution (go to the development branch) but it doesn't work in my case. I still have the following warning

Warning: Assuming icon SQ 07a3,10ce.
Unsupported overlay origin 0/0
Warning: 0008,0008=MOSAIC but number of slices not specified: controls_To

[2021-10-06 16:01] neurolabusc commented on #364
Can you provide some context - is this data from the ADNI dataset? Feel free to send me an example DICOM image by sending a link to my email (shown in my avatar). I suspect that these DICOM images were corrupted either by the insertion of a image icon or an anonymization tool that stripped out the CSA header.

[2021-10-06 19:57] neurolabusc commented on #550
Thanks for the example images. I think you want to check the provenance of these images, and convert copies prior to their corruption. These are limitations in your DICOM data, not dcm2niix. Here are some of the limitations of your DICOM images:

 1. The [CSA header](https://nipy.org/nibabel/dicom/siemens_csa.html) has been removed, beyond revealing the number of slices in a mosaic, this structure

[2021-10-06 19:57] #550 closed

[2021-10-09 10:40] neurolabusc commented on #534
New stable version released [v1.0.20211006](https://github.com/rordenlab/dcm2niix/releases).

[2021-10-09 10:41] #534 closed

[2021-10-10 19:03] dlevitas opened #552 "SeriesDescription and ProtocolName: Does one take precedence over the other?"
I typically encounter data where the values of these metadata fields are identifical; however, I'll occassionally see slight variations between the two fields. Does one field take precedence over the other in terms of describing the acquisition? I imagine it could depend on the scanner manufacturer, but I wanted to see if that's the case.

[2021-10-10 20:34] ghisvail commented on #534
Updated: https://tracker.debian.org/news/1266006/accepted-dcm2niix-1020211006-1-source-into-unstable/

[2021-10-11 17:01] neurolabusc opened #553 "Numaris X and Mosaics"
For users of the Siemens XA30 platform (Numaris X baseline: Nx) , be aware that this system will de-mosaic classic DICOMs and save them as  a series of 2D slices in a single enhanced DICOM. Unfortunately, this conversion fails to remove the text `MOSAIC` from the [ImageType (0008,0008)](https://dicom.innolitics.com/ciods/rt-dose/general-image/00080008) tag. Therefore, an enhanced image without any

[2021-10-12 19:32] captainnova commented on #236
Actually, the false warning will appear with a lot (most?) of enhanced DICOM from XA10, 11, and 20 too. All of the Siemens enhanced DICOM I have seen (from XA10, 11 + 20 so far) has been of the 1 file per volume form.

I'm not sure how I missed this in prerelease testing.

[2021-10-13 11:34] #553 closed

[2021-10-18 14:43] dlevitas commented on #543
I was looking through https://github.com/rordenlab/dcm2niix/blob/master/console/nii_dicom_batch.cpp at the `isSameFloatGE` function, but couldn't find where this function is defined. I'm curious what tolerance dcm2niix allows for certain measurements?

[2021-10-22 18:31] dmoracze opened #554 "Where can I find v1.0.20190410?"
Hello, I'm working with a large dataset that was converted using `v1.0.201904101` and I have some new data I'd like to add. However I cannot find this version in the releases.

Thank you.

[2021-10-30 14:43] #554 closed

[2021-11-01 21:26] oesteban commented on #377
Sorry for unearthing this issue again.

Coming back to it I noticed one more reason to get it right:

It's not, so long:

i - The EPI up/down blips you supply have exactly the same total readout time (it is possible to have uneven EPI sequences for some reason) for the estimation of the fieldmap.
ii - The target EPI you want to correct (with applytopup) ALSO has the same total readout time. In thi

[2021-11-02 08:21] ZhongkangLu opened #555 "Use tag: (0020, 0032) Image Position (Patient) instead of "SliceThickness" to determine the z resolution."
The single DICOM file, which contains multiple slices, has "SliceThickness = 0.5".

Some other tags are shown as following:
------------------------------------------------------------------------------------------------------------------------
   (0020, 9113)  Plane Position Sequence  1 item(s) ----
      (0020, 0032) Image Position (Patient)            DS: [-45.473630, -85.473630, 1540.500000]

[2021-11-02 13:17] neurolabusc commented on #555
dcm2niix does leverage Image Position Patient ([0020, 0032](http://dicomlookup.com/lookup.asp?sw=Tnumber&q=(0020,0032))) as this is the most robust way to infer [distance between slices](http://dclunie.blogspot.com/2013/10/how-thick-am-i-sad-story-of-lonely-slice.html).

Your description suggests that this is an enhanced DICOM image (multiple 2D slices stored in a single file) using the CT modalit

[2021-11-02 13:40] ZhongkangLu commented on #555
Dear Rorden,
Thanks for your prompt response!
Due to copyright issue, I cannot share the data with you.
You are right, it is an enhanced DICOM image (multiple 2D slices stored in a single file) using the CT modality. The DICOM image has a tag "Slice Thickness" = 0.5, and there is also an array of 512 "Per Frame Functional Groups Sequence" tags (512 slices). Each of them has an "Image Position Pati

[2021-11-02 15:06] neurolabusc commented on #555
What is the manufacturer (Canon, GE, Philips, Siemens, UIH)? Can you or the manufacturer acquire data on a phantom that illustrates the issue? Again, the default behavior of dcm2niix is to use image position patient, so the behavior you describe is atypical. Without an exemplar, I am unable to give further advice.

[2021-11-02 15:35] neurolabusc commented on #377
@oesteban the Philips DICOM images do not contain the required information. This is a limitation of the Philips data, not dcm2niix. Therefore, I am unable to resolve this.

@sandeepganji is leading two independent paths to aid Philips users:

1. While the Philips DICOM images do not contain the required data, most of the information is preserved in the Philips DICOM exam cards. These non-image fil

[2021-11-02 15:37] oesteban commented on #377
Thanks much!

[2021-11-02 16:11] ZhongkangLu commented on #555
The Scanner is Toshiba. I attached the header information in the email, which is generated by pydicom. Maybe I can send you a DICOM file with a all-zero image array, but it still needs a lot of administrative procedures.
    On Tuesday, 2 November 2021, 11:06:18 pm SGT, Chris Rorden ***@***.***> wrote:

What is the manufacturer (Canon, GE, Philips, Siemens, UIH)? Can you or the manufacturer acquir

[2021-11-02 18:56] neurolabusc commented on #555
Toshiba has been acquired by Canon.

Did the scanner create enhanced DICOM, or was the source data classic DICOM that was converted to enhanced DICOM using the [PixelMed tools](https://www.pixelmed.com/dicomtoolkit.html) or another tool? If the latter, can you replicate the issue by converting an [open source classic DICOM CT dataset](https://github.com/neurolabusc/dcm_qa_ct) through your pipeline

[2021-11-03 01:37] ZhongkangLu commented on #555
You are correct. The DICOM image has been de-identified by a third-party software. Sorry that I don't have access to the software. The de-identified DICOM image can be correctly imported by all commercial software and some free software like itksnap, and 3D Slicer.
    On Wednesday, 3 November 2021, 02:56:45 am SGT, Chris Rorden ***@***.***> wrote:

Toshiba has been acquired by Canon.

Did the sca

[2021-11-03 11:17] neurolabusc commented on #555
1. Can you confirm you are using the latest stable release (v1.0.20211006).
2. I understand that other tools may convert this file correctly. On the other hand, those tools will fail for images common in our community. The DICOM format is very complex, and has been interpreted differently by different manufacturers and obfuscated by many [tools](https://github.com/neurolabusc/dcm_qa_agfa). For exa

[2021-11-03 15:07] ZhongkangLu commented on #555
Yes, I am using the latest version, which is compiled from source code. So far I don't have any progress on the concrete exemplar. Hopefully I can go through the tedious administrative processes eventually. Thank you very much!
    On Wednesday, 3 November 2021, 07:17:31 pm SGT, Chris Rorden ***@***.***> wrote:

   - Can you confirm you are using the latest stable release (v1.0.20211006).
   - I u

[2021-11-03 15:15] #555 closed

[2021-11-09 15:30] ghisvail opened #556 "DICOM volume converted to NIfTI as a series with both hemispheres"
Hi Chris,

**Describe the bug**

I have a DICOM consisting of a single brain volume acquired with a spoiled gradient echo sequence on a GE scanner. After successful conversion, the resulting NIfTI volume contains a series consisting of two half-volumes covering each hemisphere instead of a single volume.

**To reproduce**

1. Download and unzip the DICOM dataset in the zip below (I got authorizati

[2021-11-09 20:12] neurolabusc commented on #556
@mr-jaemin can you help me resolve this? This is an example of a ZIP2 acquisition.

Typically we detect ZIP2 using two conditionals:
 1. Both the private tag LocationsInAcquisitionGE (0021,104f) and public tag (0054,0081) must exist, yet have different values.
 2. Both the public tags SliceThickness (0018,0050) and SpacingBetweenSlices (0018,0088) must exist, yet have different values. The ratio i

[2021-11-09 20:21] neurolabusc commented on #556
@mr-jaemin perhaps one solution would be to detect ZIP2 if SliceThickness
is greater than SpacingBetweenSlices. Typically, adding a gap results  in an acquisition where slice thickness is thinner than the spacing between slice centers (to avoid cross talk). So an acquisition where the thickness is larger than the distance between slices (overlap, rather than gap) is pretty unusual (as it would typ

[2021-11-10 10:23] ghisvail commented on #556
As always, thank you very much Chris for your prompt replies.

I understand the challenges on your end, please take your time to work on a proper fix. Meanwhile I'll compile a custom version with the fix you suggested for converting this specific dataset.

Sadly, we have no control over the exam protocol which produced this dataset.

[2021-11-10 12:36] pvelasco commented on #556
It is pretty unusual, true, but one could do it to increase SNR (having thicker slices than without overlap); if the slice excitation time between overlapping slices is long enough, there would be no cross-talk.

[2021-11-10 16:36] dlevitas opened #557 "Which metadata fields are removed during anonymization?"
I was wondering if there's a list that specifies which metadata fields are excluded when the conversion process is anonymized? [This post](https://github.com/rordenlab/dcm2niix/issues/304#issuecomment-512766519) provides several fields; however, as of version (v1.0.20211006) at least, `AcquisitionDate` is excluded as well.

[2021-11-10 19:54] neurolabusc commented on #557
The relevant code is [here](https://github.com/rordenlab/dcm2niix/blob/003f0d19f1e57b0129c9dcf3e653f51ca3559028/console/nii_dicom_batch.cpp#L1228) and [here](https://github.com/rordenlab/dcm2niix/blob/003f0d19f1e57b0129c9dcf3e653f51ca3559028/console/nii_dicom_batch.cpp#L1309). The following are not included in the BIDS if the file is anonymized:

[code]

While dcm2niix considers the day of the sca

[2021-11-10 22:47] dlevitas commented on #557
Ah, good to know, thanks

[2021-11-10 22:47] #557 closed

[2021-11-11 13:07] neurolabusc commented on #556
@ghisvail can you test out the latest [commit](https://github.com/rordenlab/dcm2niix/commit/ebf7435aa329c1c2a5c7ebf87901ac7f9858f1d2) to the development branch, I think it resolves this issue. I added a new check that counts the number of times a spatial position is repeated in a dataset. If this does not match the number of volumes in the dataset and the data is from GE, it will determine if ZIP2

[2021-11-11 17:44] ghisvail commented on #556
Le jeudi 11 novembre 2021 à 05:07 -0800, Chris Rorden a écrit :

Sounds good. I can test that and report tomorrow.

The team is pretty busy at the moment, myself included.

I could aim for some time in December.

[2021-11-12 11:43] ghisvail commented on #556
I confirm it does :+1:

Thank you so much Chris!

[2021-11-12 12:03] #556 closed

[2021-11-15 16:20] neurolabusc opened #560 "Philips fMRI discrepancy between TR and other temporal measures"
@drmclem and @sandeepganji can either of you explain this discrepancy between RepetitionTime (0018,0080) versus both TriggerTime (0018,1060) and AcquisitionTime (0008,0032). RepetitionTime reports 3000ms for all slices, which seems plausible for a 48-slice resting state sequence acquired on a 3T MRI (acquired before the advent of multi-band). However, the TriggerTime and AcquisitionTime both relia

[2021-11-15 16:52] drmclem commented on #560
Hi

Without seeing the full protocol it's a bit tricky -

It could be acquired as a 2 package scan - in which case the Magnetic TR will be as requested but there are more slices than will fit in that TR - so the scan will be split odds then evens and run in two packages (concatenations in other vendors?) - given that it is twice the TR - this could be the case.

but I can also imagine also a scena

[2021-11-15 17:32] sandeepganji commented on #560
Adding to Mathew's point, here are the details for each of the tags

(0008,0032)	The time the acquisition of data that resulted in a particular image
(0008,0080)	The period of time between the beginning of a pulse sequence and the beginning of the succeeding (essentially identical) pulse sequence. For mixed sequences, this element is image dependent and differs for SE and IR images.
(0018,1060)	It

[2021-11-15 18:20] neurolabusc commented on #560
Thanks both for your rapid response. I have updated dcm2niix to generate a warning when there is a discrepancy between the RepetitionTime and AcquisitionTime reported in the DICOMs. I am going to close this issue as there seems to be no clear way to reconcile these discrepancies.

@xiangruili I note that dcm2niix gives precedence to AcquisitionTime over RepetitionTime, whereas dicm2nii only consid

[2021-11-15 18:42] #560 closed

[2021-11-16 17:52] dlevitas opened #561 "Can DWI b-values be determined from metadata?"
I have some multi-shell DWI data where I'm attempting to generate an image for each shell. I've been told that the data contains two shells (not including b=0 volumes): 1000, 2500. However, the bvals contains a bit of variation:

`5 995 2495 995 2505 1000 2490 995 2505 990 2500 995 2490 1000 2485 1000 5 2505 995 2495 1000 2500 1000 2505 995 2485 1005 2495 1000 2500 995 2505 5 1005 2500 995 2485 99

[2021-11-16 18:13] neurolabusc commented on #561
1. [dcm2niix reports the gradients as applied, not requested](https://www.nitrc.org/forum/forum.php?thread_id=6220&forum_id=4703). Due to the physical configuration of your gradients, the applied gradients are not always precisely what was requested. The values reported by dcm2niix are a more accurate representation of the data and are the values that should be used for subsequent analyses.

2. A

[2021-11-16 18:46] dlevitas commented on #561
Understand, thanks!

[2021-11-16 18:46] #561 closed

[2021-11-24 00:44] weberam2 opened #563 "-f '%p' not working"
**Describe the bug**

Hi Chris,

I have noticed that between versions 2018 Nov 22nd and 2021 Oct 6th, if I run the following on GE dicom files (GE Discovery 750)

`dcm2niix -o tmp_dcm2bids/helper -b y -ba y -z y -f '%3s_%f_%p_%t' sourcedata/test6/`

I get:

2018:
006_test6_B0map_20190503130133
vs
2021:
006_test6_RESEARCH_-_REGTRJ_20190503130133

So it seems like somewhere the %p option stopped wor

[2021-11-24 07:46] cloudpanl opened #564 "Orientation changed after converting to nii"
I use dcm2niix to convert CT, and use ITK-SNAP to check that the direction of dicom is RAI. After converting to nii, the direction of nii becomes RPI. For other series, ASL becomes AIL. Why does the direction change? Is there something wrong with me? Thanks!My version is v1.0.20210317

[2021-11-24 13:25] neurolabusc commented on #563
See the [v1.0.20210317 release notes](https://github.com/rordenlab/dcm2niix/releases/tag/v1.0.20210317):
 - [GE file naming behavior changes (%p protocol name and %d description)](https://github.com/rordenlab/dcm2niix/issues/476).

File naming behavior of the current stable version is [here](https://github.com/rordenlab/dcm2niix/blob/master/FILENAMING.md).

In brief, the current version of dcm2nii

[2021-11-24 13:32] neurolabusc commented on #564
DICOM and NIfTI have [different spatial coordinate systems](https://www.nitrc.org/plugins/mwiki/index.php/dcm2nii:MainPage#Spatial_Coordinates). The DICOM standard has the first row at the top of the screen, with later rows below (the way we write English). On the other hand, NIfTI has the first row at the bottom of the screen, with higher line numbers higher on the screen (the way we draw a carte

[2021-11-24 17:46] weberam2 commented on #563
THANK YOU!
This will fix my issue, using %d instead of %p :)

[2021-11-25 19:45] weberam2 opened #565 "Error: Recompiling with '-DmyInstanceNumberOrderIsNotSpatial' might help."
**Describe the bug**

I sometimes get this error: "Error:  Recompiling with '-DmyInstanceNumberOrderIsNotSpatial' might help."
But I can rerun dcm2niix and then I don't get the error...
I'm not sure what's going on...

**To reproduce**
Example:
dcm2niix -b y -ba y -z y -f '%3s_%f_%d_%r' -o ./tmp_dcm2bids/sub-REGTRJ004A sourcedata/REGTRJ004A/

**Expected behavior**

I expect it to run every time...

[2021-11-26 15:20] neurolabusc commented on #565
@weberam2 it is unclear to me if this is a dcm2niix issue or a dcm2bids issue. Further, the dcm2bids is only reporting the error, not the diagnostic message that precede the error. I think the first step is determining if running dcm2niix from the command line generates this error, and logging all the other messages that are elicited by this data:

[code]

My best guess is that there are some slic

[2021-11-27 12:54] #564 closed

[2021-12-04 19:01] neurolabusc commented on #565
Closing issue, insufficient information to replicate or understand if this reflects an issue of the DICOMs, dcm2bids or dcm2niix.

[2021-12-04 19:01] #565 closed

[2021-12-12 21:34] Arshitha commented on #531
Hi - I'm using dcm2niix v1.0.20211006 with the following "-ba y" option. Some of the sidecars have `"TotalReadoutTime": inf,` which results in a JSONDecodeError. I'm mostly involved in curation of the dataset so I'm not sure why the field is 'inf' but my understanding from the BIDS spec is that it's expecting a number with units as seconds. I was wondering how if y'all had any recommendations on h

[2021-12-12 21:48] neurolabusc commented on #531
@Arshitha do you have access to the DICOMs, and can you share them as a zip archive via Box/GoogleDrive with a link sent to my email (listed in my avatar)? We require some [private tags](https://github.com/rordenlab/dcm2niix/tree/master/GE) to compute this for GE scans, so I wonder if some DICOM anonymization disrupted the detection of `TotalReadoutTime`.

Seeing that your manufacturer is GE not U

[2021-12-13 00:36] Arshitha opened #566 "GE "TotalReadoutTime" set to inf resulting in JSONDecodeError"
Hi - I'm using dcm2niix v1.0.20211006 with the following "-ba y" option. Some of the sidecars have `"TotalReadoutTime": inf,` which results in a JSONDecodeError. I'm mostly involved in curation of the dataset so I'm not sure why the field is 'inf' but my understanding from the BIDS spec is that it's expecting a number with units as seconds. I was wondering how if y'all had any recommendations on h

[2021-12-13 00:50] Arshitha commented on #566
@neurolabusc - Thanks for your response! I have access to the dicom files but I'm not sure if it's okay to share them via DropBox/GDrive but I've messaged our team lead about it so once I hear back from him, I'll update the issue. And apologies for the cross posting.

[2021-12-13 12:41] neurolabusc commented on #566
Are these images generated by GE, or are they DICOMs generated by the ADNI group that simulate GE DICOM images? If the latter, you should follow @captainnova's  [advice](https://neurostars.org/t/please-contact-adnis-ask-the-experts-page-if-you-find-a-flaw-with-adni-data/20315) and use the ADNI [ask-experts](http://adni.loni.usc.edu/support/experts-knowledge-base/ask-experts/) page.

I believe that

[2021-12-13 12:55] Arslan1881 commented on #357
Hello,

I get a similar error when trying to convert my DICOM to Nifti in MRIcroGL

Found 2048 DICOM file(s)
DICOM images may be missing, expected 60 spatial locations per volume, but found 2048 slices.
Slice positions repeated, but number of slices (2048) not divisible by number of repeats (208): missing images?
Hint: expected 60 locations
Warning: Interslice distance varies in this volume (incom

[2021-12-13 13:11] neurolabusc commented on #357
@Arslan1881 sounds like some files are missing - either due to a PACS error or because a time series was interrupted before completion. This sounds like a situation where manual inspection and intervention is required. It might also help to have some sequence details (how many fMRI/DWI volumes were acquired).

1. The method described by @drmclem sounds like the best approach. You should try that i

[2021-12-13 13:13] neurolabusc commented on #357
Also, do try the [script](https://github.com/VisionandCognition/NHP-Process-MRI/blob/master/python/fix_dcm_incompletevols.py) @pcklink developed. Even if this works, you should do an inquest to understand why some volumes were lost. This is a kludge, and you really want to make sure you have complete datasets.

[2021-12-13 14:42] Arslan1881 commented on #357
Ok thanks, I will proceed with the aforementioned steps. Hope it works!

[2021-12-13 17:40] captainnova commented on #566
Hi,

ADNI questions are indeed welcome on the ADNI ask the experts page, but I
am not aware of any simulated hyperband data made by ADNI. Maybe it was
some other study?

We have been getting ready to use hyperband for ADNI 4, but I didn't
simulate anything, and was not expecting the test data to get mixed in with
normal data. If that happened, please provide details so we can correct it.

Thanks,

[2021-12-13 17:45] neurolabusc commented on #566
mea culpa. @captainnova you are correct. I was thinking of the [ABCD](https://neurostars.org/t/abcd-ge-data-and-phase-encoding/4972/3) datasets.

 Regardless, the JSON suggests this is from ADNI3, so perhaps some anonymization stage tripped this up. Presumably, if we can get the ADNI3 participant details we can resolve this.

[2021-12-13 22:50] captainnova commented on #566
Phew! That's a relief.

But I notice the series is a derived TRACE, which is an average of the diffusion weighted volumes. @neurolabusc's missing value hypothesis likely still applies if "simulated" is replaced with "derived". I guess the TotalReadoutTime of a Trace should match its source dMRI, but it would not surprise me at all if the Trace DICOM does not include that info. Derived images are o

[2021-12-14 22:34] psadil opened #567 "Fall 2021 release incorrectly orders slices of Philips functional scan that appears okay when converted with the Spring 2021 release"
**Describe the bug**

The Fall 2021 release of `dcm2niix` seems to have trouble with a functional series collected on a Philips scanner. Towards the end of the run, slices from the brain appear at the top of the stack

![fall-central](https://user-images.githubusercontent.com/8172767/146086977-dc66269b-602b-4d43-b231-62d109a0bfc2.png)

In the next image, notice that the top slice looks like it's f

[2021-12-15 13:15] neurolabusc commented on #567
I do not have access to Philips equipment. Feel free to package all DICOMs into a single zip archive and send a link to the GoogleDrive/DropBox file to my email (listed in my avatar).

[2021-12-15 18:46] neurolabusc commented on #566
@Arshitha can you test the latest commit to the development branch and confirm that it will no longer generate `inf` values for `TotalReadoutTime`.

As @captainnova noted, these are derived TRACE images and probably do not belong in a dataset. One can typically generate far better derived trace images after offline processing (de-Gibbs, de-noise, TOPUP, eddy). In general, I usually use dcm2niix wi

[2021-12-15 19:14] Arshitha commented on #566
Hi @neurolabusc - sorry for the delay in my response. I couldn't get back to testing your suggestions until today but I'm going to test the latest commit and get back to you with an update by tonight.

And as @captainnova mentioned, there are few "DERIVED_SECONDARY_PROCESSED" scans with series descriptions, "Trace", "AvDc", "Fa", etc, and have the `TotalReadoutTime` as inf. In the interest sharing

[2021-12-15 22:03] neurolabusc commented on #567
@psadil please try the latest commit to the development branch (v1.0.20211215). The prior version had given precedence to the private tag MRfMRIStatusIndication (2005,1063) over the public tag TemporalPositionIdentifier (0020,0100). I have no idea why they are in conflict for your data (SoftwareVersions : 5.6.1). However, the latest version will only use the private tag as a last resort. This will

[2021-12-16 05:18] Arshitha commented on #566
Hi @neurolabusc - I tested the commit https://github.com/rordenlab/dcm2niix/commit/e16904ec3d070dee997e417356979586cebf657d and I can confirm that I no longer see `inf` values in the json sidecars for the derived images. Thanks a ton for helping understand what was causing this issue better. It was helpful to refer to the [GE formula](https://github.com/rordenlab/dcm2niix/tree/master/GE) in this d

[2021-12-16 11:34] #566 closed

[2021-12-16 13:27] psadil commented on #567
@neurolabusc Thanks for the fix. This is to confirm that the patch seems to work, allowing the images to be converted without the floating slice. Though, I think the commit was made to the master rather than development branch.

[2021-12-16 13:27] #567 closed

[2021-12-19 03:06] astewartau opened #568 "Multi-echo naming problem with Vida fit classic DICOMs"
**Describe the bug**

Multi-echo data acquired using Siemens' Vida fit, and exported as classic DICOM are not named properly by dcm2niix in relation to echo numbers when the `Echo Number` field of the DICOM header is not present. The resultant names produced by dcm2niix indicate that each echo was interpreted to be a single-echo scan from a different 'run', rather than multiple echoes from the sam

[2021-12-19 13:51] neurolabusc commented on #568
This is related to [issue 538](https://github.com/rordenlab/dcm2niix/issues/538). The XA30 data format has evolved rapidly (in a good way), but I have very little access to sample datasets. Feel free to send a sample dataset to me (compress the DICOMs, share a link to the compressed file with the personal email in my avatar).

My other suggestion would be to export the data as enhanced DICOM inste

[2021-12-20 01:19] astewartau commented on #568
Thanks for the informative response - I have sent you an email. :)

[2021-12-20 19:13] neurolabusc commented on #568
As you note, these DICOMs omit echo number [(0018,0086)](https://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.8.3.html). This is a type 3 attribute, so these are technically valid DICOMs. However, I believe this was resolved with XA30 (and perhaps on your XA20 is you export image as enhanced rather than DICOM). I believe that the XA20 was a stop gap between the impoverished XA10

[2022-01-04 21:27] dlevitas opened #569 "How many images does dcm2niix generate for specific qMRI field maps?"
This a cross-post from [here](https://github.com/bids-standard/bids-specification/issues/964).  The documentation for some qMRI field maps (`TB1DAM`, `TB1SRGE`, `TB1map`, `RB1map`) is sparse, and our scanner can't acquire these specific sequences to test. I was wondering how many images dcm2niix produces for those qMRI field map sequences?

I found the [paper](https://onlinelibrary.wiley.com/doi/p

[2022-01-04 22:38] neurolabusc commented on #569
See my comments [here](https://github.com/bids-standard/bids-specification/issues/964).

[2022-01-04 22:38] #569 closed

[2022-01-04 22:39] #568 closed

[2022-01-07 16:30] xyzthe117 opened #571 "Windows installation"
Can you provide the way to install in windows by command line please. I tried curl but it doesn't work

[2022-01-07 16:56] neurolabusc commented on #571
1. What version of Windows are you using?  You can find out by running `systeminfo` from the command line.

2. Is curl not installed or is curl generating an error? If the latter, what error is reported? curl is included with Windows 10 build 17063 and later. So perhaps you simply need to update Windows.

3. Do you have conda installed? If so, have you tried `conda install -c conda-forge dcm2niix`

[2022-01-07 20:05] ningfei commented on #571
@xyzthe117 what's the output of curl? Guess it might be your firewall?

[2022-01-11 13:12] neuronflow opened #572 "trouble converting 3D glioma annotations from Olea Sphere to nifti"
Dear readers,

I am trying to convert annotations created in Olea Sphere ( https://www.olea-medical.com/en/solutions/neurology ) into nifti format. The program creates a single `.dcm` file per label for the whole 3D volume. So I assume the dicom series is somehow embedded in there. When I try to convert the file via `dcm2niix` I get the following error message:

[code]

Any advice how to proceed?

[2022-01-11 14:02] neurolabusc commented on #572
I have never seen a binary DICOM before. Should be easy to support with a concrete exemplar.

I can have a look if you share the dataset - either make it public or send a GoogleDrive/DropBox link to the email address in my avatar.

[2022-01-11 14:02] #571 closed

[2022-01-11 15:41] neurolabusc commented on #572
I have made a commit to the development branch that should add support for 1-bit DICOMs. Please validate this and close this issue if it resolves your issue.

Assuming you are using UNIX, you can build the development branch with the following commands:

[code]

[2022-01-11 17:28] neuronflow commented on #572
getting this when starting the build:
[code]

[2022-01-11 17:54] neurolabusc commented on #572
I am not concerned with these warnings. If they bug you, you can change the code to use `snprintf()` instead of `sprintf()`

[2022-01-11 18:42] neuronflow commented on #572
Thank you, my bad I overlooked the created binary!
<img width="139" alt="Screenshot 2022-01-11 at 19 39 06" src="https://user-images.githubusercontent.com/7048826/149001992-b5f3a616-cac7-4227-9e22-50cae2c2be87.png">

With the update, I could convert the segmentations. They appear flipped, but I assume this is due to a malformed Dicom header?

[2022-01-11 19:12] neurolabusc commented on #572
1. A compiler warning is different from an error. You only provided warnings. I assume that your did create an executable. You might also want to report what the command `gcc -v` reports, as I do not see these warnings. While I do prefer code that does not generate warnings, I need to be cautious as I we need to support a wide number of compilers, and it is easy to have unintended consequences.
2.

[2022-01-11 20:10] tashrifbillah commented on #399
Hi @neurolabusc , I take it that you did not get the data to work on it further?

[2022-01-11 20:39] neurolabusc commented on #399
@tashrifbillah never received an exemplar dataset. Unable to replicate. Feel free to send an exemplar to me, or provide a pull request that resolves the issue.

[2022-01-11 22:17] neuronflow commented on #572
1. I agree. Sorry I overlooked the creation of the binary as I was waiting on a remote server with a GUI and apparently the GUI did not refresh upon creation of the binary. Thank you for providing such a quick fix! I don't mind the warnings at all. In case you do here is output of `gcc -v`:
[code]

2. I opened the NIfTI in MRIcroGL and it indeed anatomic image and annotation overlap with the tumor

[2022-01-11 22:34] neurolabusc commented on #572
Sounds like the issue is solved.

[2022-01-11 22:34] #572 closed

[2022-01-12 16:43] tashrifbillah commented on #399
`gdcmconv` from https://github.com/rordenlab/dcm2niix/issues/399#issuecomment-626655714 solved the problem for our RAs. So I shall hold off on sending you any data for now.

[2022-01-20 13:34] dlevitas opened #574 "bval and bvec files not generated from GE DWI dicoms"
I received some DICOMS that I'm told are DWI with 64 directions, 4 B0 volumes, 30 with b=1000, 30 with b=2000. Using the most recent dcm2niix version however does not generate the corresponding bval and bvec files. I also do not see "DIFFUSION" in the `ImageType` metadata field, but that may not matter. My hunch is that the dicoms are somehow impoverished, but wanted to check. I've shared the dico

[2022-01-20 16:24] mr-jaemin commented on #574
For GE, raw images will be always generated for DTI. To generate a FA/ADC maps, one needs to add "Post-Processing" (inline) task (either console or protocol) as shown below. Then, **"separate"** series will be generated besides the raw images series.

DICOM private tag (0x0043,0x1030) (Vas collapse flag [SS]) should be 14 or 16 for raw images:
T2 (i.e b0 specified by "# of T2" in the console) = 14

[2022-01-20 16:38] neurolabusc commented on #574
Thanks @mr-jaemin. The sample dataset I was provided lacks all private tags, so I am unable to report 0043,1030. Perhaps these were removed by an anonymization step. The Image Type does report Primary, so perhaps these derived images were created by some other tool. @dlevitas I suggest the provenance of these images is established.

As an aside, I notice that these images were touched by dcm4che.

[2022-01-20 17:03] dlevitas commented on #574
Thanks @neurolabusc and @mr-jaemin. Since these images appear to be derived and anonymized to some degree, this addresses my original question. @giulia-berto and I will look into their provenances.

[2022-01-20 17:03] #574 closed

[2022-01-21 06:17] sandeepganji opened #575 "Different scaling when using version 6-October-2021 (v1.0.20211006) and version 2-November-2020 (v1.0.20201102)"
I was doing some ASL processing (Data from: Philips Scanner) and noticed very high values for the CBF maps. After some digging found that when I opened the NIFTI using MRICRO the "Image Intensity" -> "Calibration scaling" created from 6-October-2021 (v1.0.20211006) was ~275 times that of NIFTI created from version 2-November-2020 (v1.0.20201102), for the ASL sources images. It was also the case fo

[2022-01-21 10:48] neurolabusc commented on #575
Described in the release notes of [v1.0.20210317](https://github.com/rordenlab/dcm2niix/releases/tag/v1.0.20210317)
  - [Philips uses precise intensity scaling, not real world values](https://github.com/rordenlab/dcm2niix/issues/493)

For further details see the [Philips image scaling notes](https://github.com/rordenlab/dcm2niix/tree/master/Philips#image-scaling). The [DICOM](https://www.kitware.c

[2022-01-21 13:03] neurolabusc commented on #575
@HenkMutsaerts and @jan-petr who are lead developers for [ExploreASL](https://github.com/ExploreASL/ExploreASL) may have comments. I am generally reluctant to change the default behavior of dcm2niix between versions. However, I have relied heavily on @drmclem for all things related to Philips. My sense is that different teams have come to rely on different Philips transforms, and these can [have a

[2022-01-21 14:23] jan-petr commented on #575
My experience was that v20190902 can safely recognize all "PhilipsRescaleSlope", “PhilipsRescaleIntercept", and "PhilipsRWVSlope" values and ouputs them correctly to JSON.

With the option "UsePhilipsFloatNotDisplayScaling": 1, it scaled everything correctly to the floating point and not display values.
However, in the presence of "PhilipsRWVSlope" (which was at least in my examples equivalent to

[2022-01-21 15:37] JuenGuo opened #576 "dcm2niix gives out too much warning messages"
I am using dcm2niix_afni to convert dcm to nii with  version v1.0.20211006  GCC5.4.0 x86-64 (64-bit Linux).
My dcm's are PET images (Positron emission tomography) from Siemens HRRT.  Somehow dcm2niix doesn't not recognize the name of manufacture in the header of dcm files and gives out tons of warning messages (one warning each dcm file). is it possible to suppress these warning message?
The warni

[2022-01-21 15:52] neurolabusc commented on #576
The DICOM standard is very complicated, and each manufacturer interprets DICOM differently: consider [Canon](https://github.com/rordenlab/dcm2niix/tree/master/Canon), [GE](https://github.com/rordenlab/dcm2niix/tree/master/GE), [Philips](https://github.com/rordenlab/dcm2niix/tree/master/Philips), [Siemens](https://github.com/rordenlab/dcm2niix/tree/master/Siemens), and [UIH](https://github.com/rord

[2022-01-21 15:57] JuenGuo commented on #576
thank neurolabusc for your quick comments. I think dcm2niix was built for MRI scanner. I am dealing with PET images. Probably it is the reason why dcm2niix doesn't recognize the scanner.
Hopefully the author of dcm2niix has some idea how to deal with this issue.

[2022-01-22 01:44] neurolabusc commented on #576
I am the creator and primary author for this community project. The software does attempt to extract meta data for [Positron Emission Tomography](https://github.com/rordenlab/dcm2niix/tree/master/BIDS#modality-positron-emission-tomography) as described by [BEP009](https://bids-specification.readthedocs.io/en/v1.2.1/06-extensions.html) as well as other modalities.

You can always run dcm2niix in lo

[2022-01-22 11:27] neurolabusc commented on #576
Based on [this article](https://www.healthimaging.com/topics/molecular-imaging/cti-siemens-restructure-their-cps-innovations-joint-venture) I wonder if `CPS` can be used as an alias for `Siemens`. Would it be possible for you to send me an example datasets (not just a single slice). The best way to share this would be compressing all the images as a .zip archive and sharing a link (via Google Driv

[2022-01-22 11:58] neurolabusc commented on #575
My center does not have access to Philips equipment. In my experience, Philips is the only vendor that generates multiple potential scaling factors for a single image. Likewise, in my experience it is the only vendor that can apply different scaling factors to each 2D slice of a 3D volume (which is not supported by NIfTI, which requires dcm2niix to promote these images from integer to floating poi

[2022-01-23 11:38] neurolabusc commented on #576
Thank you for the sample images. I have added a commit to the `development` branch that identifies `CPS` as an alias for `Siemens`. The one bizarre (but legal) feature of your sample dataset is that the [Instance Number (0020,0013)](https://dicom.innolitics.com/ciods/mr-image/sop-common/00200013) is indexed from 0 not 1. I have never seen this before from any manufacturer. The BIDS JSON file [will

[2022-01-24 13:32] sandeepganji commented on #575
the issue is that the scaling number seem different even of T1W and FLAIR images.

[2022-01-24 21:20] #576 closed

[2022-01-25 23:33] giulia-berto commented on #574
Thank you all for the help! Unfortunately I didn't acquire the data, thus I'd need to figure it out.

[2022-02-05 14:09] neurolabusc commented on #575
Closing this issue: Philips often provides multiple image intensity transforms for a single image, while NIfTI allows only one transform. There is no consensus regarding the precedence between the competing transforms. In these situations, dcm2niix records the possible transforms in the BIDS JSON header. The current dcm2niix precedence strategy is clearly described in the documentation. Users and

[2022-02-05 14:09] #575 closed

[2022-02-05 14:37] neurolabusc opened #577 "CPS/Siemens HRRT Volume ordering"
The order of instance numbers for some HRRT sequences created by (0008,0070) CPS model (0008,1090) HRRT with software version (0018,1020) 06.00 is unclear. Unfortunately, there is no provided [Temporal Position Identifier](http://dicomlookup.com/lookup.asp?sw=Tnumber&q=(0020,0100)), though Content Time (0008,0033) might provide a surrogate.

The latest commit to the development branch attempts to

[2022-02-06 14:40] neurolabusc commented on #577
The latest commit to the development branch will reorder volumes based on [FrameReference Time (0054,1300)](https://dicom.innolitics.com/ciods/pet-image/pet-image/00541300) if the [modality (0008,0060)](https://dicom.innolitics.com/ciods/cr-image/general-series/00080060) is PT. While frame reference time seems the obvious way to order time series, the [instance number](https://dicom.innolitics.com

[2022-02-07 22:38] bendhouseart commented on #577
I'm not 100% sure, I (we) may have been mixing this up w/ [issue 521 ](https://github.com/rordenlab/dcm2niix/issues/521). That ended up being a very specific issue w/ dicoms if memory serves. Since then though I have been doing my own cumulative sum of the frame durations to calculate my FrameReferenceTime as it has seemed to me to be the most reliable method.

If you find a way to get in touch wi

[2022-02-09 17:57] neurolabusc commented on #577
I am closing this issue based on the comments from a Siemens engineer:

[code]
Future releases of dcm2niix will use `FrameReferenceTime` to order all PET volumes. This incurs a small performance penalty, but ensures consistent volume order.

Users of these systems should be aware that many DICOM tools assume that the instance number is the canonical order.

[2022-02-09 17:57] #577 closed

[2022-02-11 15:36] bendhouseart opened #581 "Possible AcquisitionTime to filename output w/ `-f %t` option bug"
**Describe the bug**

The acquisition time does not match the time recorded in the filename when the option `-f %t` is used. Is this a bug or is the time displayed in dcm2niix output files when using the `%t` option pulled from somewhere else than the AcquisitionTime in the dicom header? Documentation on NITRC has led me to believe the time portion of %t should acquisition time be formatted in HHM

[2022-02-11 15:54] neurolabusc commented on #581
This is the defined  [filenaming behavior](https://github.com/rordenlab/dcm2niix/blob/master/FILENAMING.md). The filename's `%t` refers to the time of study (from 0008,0020 and 0008,0030), not the acquisition time (0008,0032). This groups all series from a study together. For example, I often segment datasets so each study is saved in a separate folder:

[code]
As an aside, I think there are a lot

[2022-02-11 16:25] bendhouseart commented on #581
Thanks!!!

[2022-02-11 16:25] #581 closed

[2022-02-21 14:02] naterichman opened #583 "Possible issue with output dimensions"
Hello,

I'm not totally clear this is a bug, just behavior I didn't expect, which could be on me as well!

**Describe the bug**

I have an input dicom with 150 slices of 192x192 and the output nifti has the following dim field:

[code]

**To reproduce**

[Here](https://drive.google.com/file/d/1ows0wTW6QYgWXu0Kk19yr6xXsExbtrux/view?usp=sharing) is the input and output data

And the command I ran us

[2022-02-21 15:42] neurolabusc commented on #583
Default behavior is to losslessly rotate 3D acquisitions to match NIfTI identity matrix. To disable use the '-x n' option

[2022-02-21 15:45] naterichman commented on #583
Okay thank you, is there anyway to determine that this rotation was done from the sidecar or nifti header?

[2022-02-21 15:55] neurolabusc commented on #583
Compare json field ImageOrientationPatientDICOM to the sform

[2022-02-21 15:56] naterichman commented on #583
Appreciate the help, thank you!

[2022-02-21 15:56] #583 closed

[2022-02-21 16:05] neurolabusc commented on #583
Also you know the image was not reoriented if the field. "MRAcquisitionType": "3D" is not present. Be aware the rows and columns can be flipped to match DICOM vs NIfTI defaults. The -y option is relevant

[2022-02-28 15:03] MareikeBT opened #586 "RepetitionTime and TaskName"
Hi,

I have an issue with an fMRI data set in BIDS format. (I have this same issue with two different data sets).
When running the BIDS validator (https://jasmainak.github.io/bids-validator/)
I get a errors about RepetitionTime and TaskName
[You have to define 'RepetitionTime' for this file.](https://jasmainak.github.io/bids-validator/#)
sub-01_ses-01_task-finger_acq-highfreq_bold.nii
637157.152 K

[2022-02-28 16:37] neurolabusc commented on #586
1. Since the BIDS file contains the tag `RepetitionTime` this issue is not with dcm2niix. Rather, either the [bids-validator](https://github.com/bids-standard/bids-validator) or your naming structure is faulty. You should seek help from the bids-validator developers or [neurostars](https://neurostars.org).
2. I notice you are using a development release of Siemens software (`E12`) and therefore yo

[2022-02-28 17:17] nseider opened #587 "DCM's Improperly Read, believes "Missing""
I'm trying to convert ABCD DICOM's to nifti for a test subject. There are 81 dcm in the folder diffusion AP, and only 11/81 files are found so the Nifti is improperly built.  Using Quick Dicom Batch Editor to view the files, all 81 slices can be opened and viewed. Following other errors I made sure I was using the latest version of dcm2niix and built with cmake.
Note that the full DWI sequence is

[2022-02-28 18:02] neurolabusc commented on #587
This seems to be an issue with the source data, not dcm2niix.

It looks like there are missing files, I suspect not all the images were copied. The [ABCD Siemens DTI protocol has ](https://abcdstudy.org/images/Protocol_Imaging_Sequences.pdf) has 81 slices per volume with 96 b-weighted volumes (not sure about number of b=0 volumes). You can always run `dcm2niix -r y /path/to/dicoms` to rename the D

[2022-02-28 18:55] nseider commented on #587
Thank you for the quick response.  I dug into the report from the downloader.  In case others have a similar issue, we appeared to have intermittent internet and though all the files were "successfully downloaded" and 81/81 dcms appeared with an ls -v, the majority where corrupted/empty locally.

[2022-02-28 19:53] neurolabusc commented on #587
Don Halger from the ABCD team provided the following advice:

[2022-02-28 22:40] #587 closed

[2022-03-08 20:14] #586 closed

[2022-03-10 01:12] mharms opened #588 "Pulse sequence details on GE"
On GE systems, it would seemingly be useful to include (0019,109c) as part of some json field.
e.g.,

or

I see that the DICOMs from the ABCD/muxepi sequence currently generate the following json fields:

but those aren't particularly informative in this case.

I suspect that "InternalPulseSequenceName" is coming from (0019,109e), but it would be helpful to get (0019,109c) in the json output as we

[2022-03-10 21:33] dazzag24 opened #590 "Normalise compile instructions when using mySegmentByAcq"
When compiling with DmySegmentByAcq all the instruction I could find use bare gcc compilation.  I couldn't help thinking that that this could lead to a quite different executable than when using the cmake option (there are openjpeg dependencies etc).

I experimented with passing CFLAGS into cmake and was able to get this to work:

[code]

[code]

shows the define was activated as we see `%q=sequen

[2022-03-10 23:09] neurolabusc commented on #588
@mharms please try out the development branch which should now insert 0019,109c into the JSON field `PulseSequenceName`. Please check the output, as I do not have GE files with customer sequences.

[2022-03-10 23:16] neurolabusc commented on #590
I have to think about this. In general, it is nice to have dcm2niix work consistently. Many of the hidden compiler directives are for internal testing and validation, and I worry that documenting them would give people a false impression that these are typical build options. If you have to use these conditionals, it usually suggests there is something very unusual with your DICOMs.

The validated,

[2022-03-11 15:54] neurolabusc commented on #590
Yes, for incomplete DICOM series (e.g. situations where a Philips scanner is interrupted and stores only part of a 3D volume in a 4D series) I would recommend the script by @pcklink. By default, it will handle Philips scans where the instance number is not incremented spatially (e.g. order of slices is ZT vs TZ where T is time and Z is slice in volume). The goal of dcm2niix is to losslessly conver

[2022-03-11 16:31] dazzag24 commented on #590
I have a DICOM folder that gives this error when using vanilla dcm2niix:

[code]

It produces a single nii.gz file which has significant interleaving? artifacts when opened in 3D Slicer.
<img width="863" alt="image" src="https://user-images.githubusercontent.com/1055831/157887008-4e982956-7fbd-4838-ade1-56f7380320c1.png">

The output when using a recompiled exe (DmyInstanceNumberOrderIsNotSpatial)

[2022-03-11 16:48] neurolabusc commented on #590
Feel free to share a sample dataset with my by sending a DropBox/GoogleDrive link to my email address.

[2022-03-11 17:05] dazzag24 commented on #590
Thanks. I'll have to check I am permitted to share.

I have just recompiled using the other flag `DmySegmentByAcq` and the output looks more sensible:

Chris Rorden's dcm2niiX version v1.0.20211220  Clang13.0.0 ARM (64-bit MacOS)
Found 1003 DICOM file(s)
Convert 475 DICOM as ../mySegmentByAcq-XXX_2015-06-10_S2 (512x512x475x1)
Compress: "/opt/homebrew/bin/pigz" -b 960 -n -f -6 "../mySegmentByAcq-XX